<link rel="stylesheet" type="text/css" href="https://npmcdn.com/angular2-toaster@4.0.1/toaster.css" />
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
<ng2-slim-loading-bar color="blue" height="2px"></ng2-slim-loading-bar>

<router-outlet></router-outlet>