/*map*/
agm-map {
    height: 400px;
}

.ng-valid[required], .ng-valid.required {
    border-left: 5px solid #42A948; /* green */
}
 
.ng-invalid:not(form) {
    border-left: 5px solid #a94442; /* red */
}

.required:after {
    content: " *";
}

.field-alert {
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.short-input {
    width: 30%;
}

.left-monitor-legend {
    color: green;
    border-color: green;
    border-width: 3px;
}

.right-monitor-legend {
    color: blue; 
    border-color: blue;
    border-width:3px;
}

.map-panel {
    height: 0;
}

.checkbox-container {
    width: 167px;
    padding: 0px 10px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 4px;
    left: 8px;
    top: -145px;
    position: relative;
}

.remove-btn {
    top: -390px;
    left: 125px;
    position: relative;
}

.map-control-bottom-panel {
    position: relative;
    top: -39px;
    margin-left: 200px;
    margin-right: 38px;
    left: -207px;
}

.map-control-bottom-panel .search {
    width: 50%;
}
