<legend>Monitors</legend>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="date-peacker">
            <label>Start date: </label>
            <div>
                <dateTimePicker [inputDate]="stratDate" [settings]="settings" (onDateSelect)="onStartDateSelect($event)"></dateTimePicker>
            </div>
        </div>
        <div class="date-peacker">
            <label>End date: </label> 
            <div>
                <dateTimePicker [inputDate]="endDate" [settings]="settings" (onDateSelect)="onEndDateSelect($event)"></dateTimePicker>
            </div>
        </div>
        <div class="date-peacker">
            <select class="form-control" [(ngModel)]="selectedRegionId">
                <option [value]="-1" selected>All sites</option>
                <option *ngFor="let region of regionsNames" [value]="region.id">{{region.name}}</option>
            </select>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="date-peacker-rel pull-right">
            <a [routerLink]="['/navmenu/monitor/add']" class="btn btn-success btn-sm"><span>Add new monitor </span><i class="glyphicon glyphicon-plus"></i></a>
        </div>
        <div class="date-peacker-rel offset-right pull-right">
            <button *ngIf="fileInputComponent.IsInputValid()" class="btn btn-success btn-sm" (click)="uploadFile()"><span>Upload </span><i class="glyphicon glyphicon-save"></i></button>
        </div>
        <div class="date-peacker-rel offset-right pull-right">
            <file-input [types]="'.xls,.xlsx,.csv'" [errorMsg]="'Please select file'" [count]="1" [buttonText]="'Add new data'" [fieldIsValid]="formGroup.file" ([inputValue])="dataFile" (inputValueChange)="dataFile=$event"></file-input>
        </div>
    </div>
</div>

<div class="vertical-10"></div>

<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th></th>
                <th>MonitorId</th>
                <th>Site</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Results</th>
                <th>Left Monitor Id</th>
                <th>Right Monitor Id</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <ng-container *ngFor="let sensor of sensors | regionsFilter:selectedRegionId;let i=index">
                <tr>
                    <td>
                        <span *ngIf="sensor.sensorResultsCount > 0" class="clickable" data-toggle="collapse"
                              [attr.data-target]="'#' + sensor.id" (click)="setToggleArr(i)">
                            <i class="glyphicon glyphicon-chevron-right" [class.glyphicon-chevron-down]="toggleArr.includes(i)"></i>
                        </span>
                    </td>
                    <td>{{sensor.monitorId}}</td>
                    <td>{{sensor.regionName}}</td>
                    <td>{{sensor.latitude}}</td>
                    <td>{{sensor.longitude}}</td>
                    <td>{{sensor.sensorResultsCount}}</td>
                    <td>{{sensor.monitorIdToLeft}}</td>
                    <td>{{sensor.monitorIdToRight}}</td>
                    <td>
                        <a class="btn btn-sm btn-info" title="Edit" (click)="globals.startUrl ='/monitors'" [routerLink]="['/navmenu/monitor/edit', sensor.id]"><i class="glyphicon glyphicon-edit"></i></a>
                        <button class="btn btn-sm btn-danger" title="Delete" (click)="delete(sensor)"><i class="glyphicon glyphicon-remove"></i></button>
                    </td>
                </tr>
                <tr>
                    <td colspan="9" class="zeroPadding">
                        <!--Left and Right sensors details-->
                        <div class="accordion-body collapse" id="{{sensor.id}}">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Left Monitor</th>
                                        <th>Right Monitor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>monitorIdToLeft: {{sensor.monitorIdToLeft}}</p>
                                            <p>distanceLeft: {{sensor.distanceLeft}}</p>
                                            <p>azimuthLeft: {{sensor.azimuthLeft}}</p>
                                            <p>normalAzimuthToLeft: {{sensor.normalAzimuthToLeft}}</p>
                                        </td>
                                        <td>
                                            <p>monitorIdToRight: {{sensor.monitorIdToRight}}</p>
                                            <p>distanceRight: {{sensor.distanceRight}}</p>
                                            <p>azimuthRight: {{sensor.azimuthRight}}</p>
                                            <p>normalAzimuthToRight: {{sensor.normalAzimuthToRight}}</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        
                        <!--Left and Right sensors details-->
                        <!--sensor results-->
                        

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Time Begin</th>
                                        <th>Time End</th>
                                        <th>Concentration</th>
                                        <th>Wind Speed</th>
                                        <th>Wind Direction</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <ng-container *ngFor="let result of sensor.sensorResults">
                                        <tr>
                                            <td>{{result.timeBegin | date : 'dd-MM-yyyy HH:mm:ss'}}</td>
                                            <td>{{result.timeEnd | date : 'dd-MM-yyyy HH:mm:ss'}}</td>
                                            <td>{{result.concentration}}</td>
                                            <td>{{result.windSpeed}}</td>
                                            <td>{{result.windDirection}}</td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                        <!--/ sensors sensor results-->
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>