<legend>{{isEditMode?'Edit':'Add'}} monitor</legend>

<div>
    <form *ngIf="sensor" (ngSubmit)="save()" #f="ngForm">
        <div class="form-group row">
            <div class="col-md-6">
                <label for="name" class="required">Monitor ID</label>
                <input type="text" class="form-control" id="monitorId" (change)="checkExistingMonitorsIds($event.target.value)" placeholder="monitor id" required [(ngModel)]="sensor.monitorId" name="monitorId" #monitorId="ngModel">
                <div [hidden]="monitorId.valid || monitorId.pristine"
                     class="field-alert alert-danger">
                    <div [hidden]="!monitorId.hasError('required')">Field is required</div>
                    <div [hidden]="!monitorId.hasError('exist')">This monitor id already exist</div>
                    <div [hidden]="!monitorId.hasError('pattern')">Allowed only positive digits</div>
                </div>
            </div>
            <div class="col-md-6">
                <label for="regionId">Site</label>
                <select class="form-control" id="regionId" required (change)="regionSelected($event.target.value)" [(ngModel)]="sensor.regionId" name="regionId">
                    <option [value]="undefValue" selected disabled>-- select a site --</option>
                    <option *ngFor="let region of regions" [value]="region.id">{{region.name}}</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                <label for="latitude" class="required">Latitude</label>
                <input type="number" class="form-control" id="latitude" placeholder="latitude" required [(ngModel)]="sensor.latitude" (change)="calculateSensors()" name="latitude" #latitude="ngModel">
                <div [hidden]="latitude.valid || latitude.pristine"
                     class="field-alert alert-danger">
                    Latitude is required
                </div>
            </div>
            <div class="col-md-6">
                <label for="longitude" class="required">Longitude</label>
                <input type="number" class="form-control" id="longitude" placeholder="longitude" required [(ngModel)]="sensor.longitude" (change)="calculateSensors()"name="longitude" #longitude="ngModel">
                <div [hidden]="longitude.valid || longitude.pristine"
                     class="field-alert alert-danger">
                    Longitude is required
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                <label for="onsiteWindMin" class="required">Onsite wind minimum</label>
                <input type="number" class="form-control" id="onsiteWindMin" placeholder="ONSITE_WD_MIN" required [(ngModel)]="sensor.onsiteWindMin" name="onsiteWindMin" #onsiteWindMin="ngModel" pattern="^\d{1,4}(\.\d{1,4})?$">
                <div [hidden]="onsiteWindMin.valid || onsiteWindMin.pristine"
                     class="field-alert alert-danger">
                    <div [hidden]="!onsiteWindMin.hasError('required')">Field is required</div>
                    <div [hidden]="!onsiteWindMin.hasError('pattern')">Allowed format 9999,9999</div>
                </div>
            </div>
            <div class="col-md-6">
                <label for="onsiteWindMax" class="required">Onsite wind maximum</label>
                <input type="number" class="form-control" id="onsiteWindMax" placeholder="ONSITE_WD_MAX" required [(ngModel)]="sensor.onsiteWindMax" name="onsiteWindMax" #onsiteWindMax="ngModel" pattern="^\d{1,4}(\.\d{1,4})?$">
                <div [hidden]="onsiteWindMax.valid || onsiteWindMax.pristine"
                     class="field-alert alert-danger">
                    <div [hidden]="!onsiteWindMax.hasError('required')">Field is required</div>
                    <div [hidden]="!onsiteWindMax.hasError('pattern')">Allowed format 9999,9999</div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                <!--Left monitor-->
                <legend class="text-center left-monitor-legend">Left Monitor</legend>
                <div class="form-group col-md-6">
                    <label for="monitorIdToLeft">Monitor Id to left</label>
                    <select class="form-control" id="monitorIdToLeft" (change)="monitorSelected($event.target.value, sensor.monitorIdToRight)" [(ngModel)]="sensor.monitorIdToLeft" name="monitorIdToLeft">
                        <option [value]="undefValue" selected disabled>-- select left monitor by Id --</option>
                        <option [value]="0">Empty</option>
                        <option *ngFor="let conpanySensor of regionSensors" [value]="conpanySensor.monitorId" [disabled]="conpanySensor.monitorId === sensor.monitorIdToRight">{{conpanySensor.monitorId}}</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="distanceLeft" class="required">Distance left</label>
                    <input type="number" class="form-control" id="distanceLeft" placeholder="distance left" readonly required [(ngModel)]="sensor.distanceLeft" name="distanceLeft" #distanceLeft="ngModel">
                    <div [hidden]="distanceLeft.valid || distanceLeft.pristine"
                         class="field-alert alert-danger">
                        Field is required
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="azimuthLeft" class="required">Azimuth left</label>
                    <input type="number" class="form-control" id="azimuthLeft" placeholder="azimuth left" readonly required [(ngModel)]="sensor.azimuthLeft" name="azimuthLeft" #azimuthLeft="ngModel">
                    <div [hidden]="azimuthLeft.valid || azimuthLeft.pristine"
                         class="field-alert alert-danger">
                        Field is required
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="normalAzimuthToLeft" class="required">Normal azimuth to left</label>
                    <input type="number" class="form-control" id="normalAzimuthToLeft" placeholder="normal azimuth to left" readonly required [(ngModel)]="sensor.normalAzimuthToLeft" name="normalAzimuthToLeft" #normalAzimuthToLeft="ngModel">
                    <div [hidden]="normalAzimuthToLeft.valid || normalAzimuthToLeft.pristine"
                         class="field-alert alert-danger">
                        Field is required
                    </div>
                </div>
                <!--Left monitor-->
            </div>
            <div class="col-md-6">
                <!--Right monitor-->
                <legend class="text-center right-monitor-legend ">Right Monitor</legend>
                <div class="form-group col-md-6">
                    <label for="monitorIdToRight">Monitor Id to right</label>
                    <select class="form-control" id="monitorIdToRight" (change)="monitorSelected(sensor.monitorIdToLeft, $event.target.value)" [(ngModel)]="sensor.monitorIdToRight" name="monitorIdToRight">
                        <option [value]="undefValue" selected disabled>-- select right monitor by Id --</option>
                        <option [value]="0">Empty</option>
                        <option *ngFor="let conpanySensor of regionSensors" [value]="conpanySensor.monitorId"  [disabled]="conpanySensor.monitorId === sensor.monitorIdToLeft">{{conpanySensor.monitorId}}</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="distanceRight" class="required">Distance right</label>
                    <input type="number" class="form-control" id="distanceRight" placeholder="distance right" readonly required [(ngModel)]="sensor.distanceRight" name="distanceRight" #distanceRight="ngModel">
                    <div [hidden]="distanceRight.valid || distanceRight.pristine"
                         class="field-alert alert-danger">
                        Field is required
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="azimuthRight" class="required">Azimuth right</label>
                    <input type="number" class="form-control" id="azimuthRight" placeholder="azimuth right" readonly required [(ngModel)]="sensor.azimuthRight" name="azimuthRight" #azimuthRight="ngModel">
                    <div [hidden]="azimuthRight.valid || azimuthRight.pristine"
                         class="field-alert alert-danger">
                        Field is required
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="normalAzimuthToRight" class="required">Normal azimuth to right</label>
                    <input type="number" class="form-control" id="normalAzimuthToRight" placeholder="normal azimuth to right" readonly required [(ngModel)]="sensor.normalAzimuthToRight" name="normalAzimuthToRight" #normalAzimuthToRight="ngModel">
                    <div [hidden]="normalAzimuthToRight.valid || normalAzimuthToRight.pristine"
                         class="field-alert alert-danger">
                        Field is required
                    </div>
                </div>
                <!--/Right monitor-->
            </div>
        </div>
        <!--Map-->
        <div class="form-group">
            <legend class="text-center">Set monitor location</legend>
            <agm-map [mapTypeControl]="true"
                     [latitude]="lat"
                     [longitude]="lng"
                     [zoom]="mapZoom"
                     [disableDefaultUI]="false"
                     [scrollwheel]="true"
                     [zoomControl]="true"
                     [scaleControl]="true"
                     [fullscreenControl]="false"
                     [streetViewControl]="false"
                     (mapClick)="mapClicked($event)"
                     (zoomChange)="zoomChanged($event)"
                     [gestureHandling]="'cooperative'"
                     [fitBounds]="latlngBounds">
                <!--New sensor-->
                <agm-marker *ngIf="sensor && sensor.latitude && sensor.longitude"
                            [latitude]="sensor.latitude"
                            [longitude]="sensor.longitude"
                            [markerDraggable]="true"
                            (dragEnd)="markerDragEnd($event)">
                </agm-marker>
                <!--/New sensor-->
                <!--Exist sensors-->
                <agm-marker *ngFor="let m of regionSensors"
                            [latitude]="m.latitude"
                            [longitude]="m.longitude"
                            [markerDraggable]="false"
                            [iconUrl]="m.iconUrl"
                            [label]="m.labelOptions">
                </agm-marker>
                <!--/Exist sensors-->
                <!---Left sensor Arrow-->
                <agm-polyline *ngIf="leftSensor && leftSensor.arrow && sensor.latitude && sensor.longitude" [strokeWeight]="3" [strokeColor]="'Green'" [strokeOpacity]="1">
                    <agm-polyline-point [latitude]="leftSensor.arrow.startLatitude" [longitude]="leftSensor.arrow.startLongitude">
                    </agm-polyline-point>
                    <agm-polyline-point [latitude]="leftSensor.latitude" [longitude]="leftSensor.longitude">
                    </agm-polyline-point>
                    <agm-polyline-point [latitude]="leftSensor.arrow.endLatitude" [longitude]="leftSensor.arrow.endLongitude">
                    </agm-polyline-point>
                </agm-polyline>
                <!---/Left sensor Arrow-->
                <!----Left sensor-->
                <agm-polyline *ngIf="leftSensor && sensor.latitude && sensor.longitude" [strokeWeight]="3" [strokeColor]="'Green'" [strokeOpacity]="1">
                    <agm-polyline-point [latitude]="sensor.latitude" [longitude]="sensor.longitude">
                    </agm-polyline-point>
                    <agm-polyline-point [latitude]="leftSensor.latitude" [longitude]="leftSensor.longitude">
                    </agm-polyline-point>
                </agm-polyline>
                <!----/Left sensor-->
                <!---Right sensor Arrow-->
                <agm-polyline *ngIf="rightSensor && rightSensor.arrow && sensor.latitude && sensor.longitude" [strokeWeight]="3" [strokeColor]="'Blue'" [strokeOpacity]="1">
                    <agm-polyline-point [latitude]="rightSensor.arrow.startLatitude" [longitude]="rightSensor.arrow.startLongitude">
                    </agm-polyline-point>
                    <agm-polyline-point [latitude]="rightSensor.latitude" [longitude]="rightSensor.longitude">
                    </agm-polyline-point>
                    <agm-polyline-point [latitude]="rightSensor.arrow.endLatitude" [longitude]="rightSensor.arrow.endLongitude">
                    </agm-polyline-point>
                </agm-polyline>
                <!---/Left sensor Arrow-->
                <!---Right sensor-->
                <agm-polyline *ngIf="rightSensor && sensor.latitude && sensor.longitude" [strokeWeight]="3" [strokeColor]="'Blue'" [strokeOpacity]="1">
                    <agm-polyline-point [latitude]="sensor.latitude" [longitude]="sensor.longitude">
                    </agm-polyline-point>
                    <agm-polyline-point [latitude]="rightSensor.latitude" [longitude]="rightSensor.longitude">
                    </agm-polyline-point>
                </agm-polyline>
                <!---/Right sensor-->

                <agm-polyline *ngIf="rectangle[0]" [strokeWeight]="3" [strokeColor]="'Green'" [strokeOpacity]="1">
                    <agm-polyline-point *ngFor="let data of rectangle" [latitude]="data.latitude" [longitude]="data.longitude">
                    </agm-polyline-point>
                </agm-polyline>

            </agm-map>
            <div class="map-panel">
                <button *ngIf="sensor.latitude && sensor.longitude" class="btn btn-sm btn-danger remove-btn" title="Remove monitor" (click)="removeMonitor()"><span>Remove monitor </span><i class="glyphicon glyphicon-remove"></i></button>
                <div class="checkbox-container">
                    <div class="checkbox">
                        <label><input type="checkbox" name="isNeedToExtend" [(ngModel)]="isNeedToExtend" value="isNeedToExtend" (click)="!isNeedToExtend ? extendMap() : null" />Extend map</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" name="isAutodetectMonitors" [(ngModel)]="isAutodetectMonitors" value="isAutodetectMonitors" (change)="calculateSensors()"  />Autodetect monitors</label>
                    </div>
                </div>
            </div>
            <!--bottom panel-->
            <div class="map-control-bottom-panel">
                <div class="col-sm-9">
                    <input placeholder="Insert location"
                        #search
                        autocorrect="off"
                        autocapitalize="off"
                        spellcheck="off"
                        type="text"
                        class="form-control search">
                </div>
            </div>
        </div>
        <!--/Map-->
        <div class="form-group col-md-12">
            <hr/>
            <button type="submit" class="btn btn-success" [disabled]="!f.form.valid">Submit</button>
            <button class="btn btn-default" [routerLink]="['/navmenu/monitors']">Cancel</button>
        </div>
    </form>
</div>