<legend>Dashboard</legend>

<div class="container-fluid">
    <div class="row">
        <!-- Icon Cards-->
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="inforide">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-4 ridezero">
                        <span class="glyphicon glyphicon-th-list"></span>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                        <h4>Companies</h4>
                        <span>{{companiesCount != undefined ? companiesCount : 'loading...'}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="inforide">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-4 rideone">
                        <span class="glyphicon glyphicon-globe"></span>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                        <h4>Sites</h4>
                        <span>{{regionsCount != undefined ? regionsCount : 'loading...'}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="inforide">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-4 ridetwo">
                        <span class="glyphicon glyphicon-signal"></span>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                        <h4>Monitors</h4>
                        <span>{{monitorCount != undefined ? monitorCount : 'loading...'}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="inforide">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-4 ridethree">
                        <span class="glyphicon glyphicon-indent-left"></span>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                        <h4>Data</h4>
                        <span>{{monitorResultsCount != undefined ? monitorResultsCount : 'loading...'}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="margin-top: 20px;">
            <legend>Companies and Monitors</legend>
            <div id="chartdiv" #chartContainer>
                <span id="chartdivloader">Loading chart...</span>
            </div>
        </div>
    </div>
</div>
