#chartdiv {
    width: 100%;
    height: 800px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#chartdivloader {
    text-align: center;
    display: block;
    padding: 50px;
}

.textside {
    margin-left: 25px;
}

.navlogo img {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 60%;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background: #FFFFFF;
    height: 60px;
    color: white;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 6px 10px;
    margin: 5px 0px 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

a {
    color: #7D7D7D;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:hover {
    color: #7D7D7D;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.inforide {
    box-shadow: 1px 2px 8px 0px #f1f1f1;
    background-color: white;
    border-radius: 8px;
    height: 100px;
}

.ridezero,
.rideone,
.ridetwo,
.ridethree {
    padding-top: 35px;
}

.ridezero span,
.rideone span,
.ridetwo span,
.ridethree span {
    font-size: 28px;
    color: white;
    text-shadow: 1px 1px 1px #715e5e;
}

.ridezero {
    background-color: #c76c9a;
    padding-top: 25px;
    border-radius: 8px 0px 0px 8px;
    text-align: center;
    height: 100px;
    margin-left: 15px;
}


.rideone {
    background-color: #6CC785;
    padding-top: 25px;
    border-radius: 8px 0px 0px 8px;
    text-align: center;
    height: 100px;
    margin-left: 15px;
}

.ridetwo {
    background-color: #9A75FE;
    padding-top: 30px;
    border-radius: 8px 0px 0px 8px;
    text-align: center;
    height: 100px;
    margin-left: 15px;
}

.ridethree {
    background-color: #4EBCE5;
    padding-top: 35px;
    border-radius: 8px 0px 0px 8px;
    text-align: center;
    height: 100px;
    margin-left: 15px;
}

.fontsty {
    margin-right: -15px;
    text-align:right;

}

.fontsty h2 {
    color: #6E6E6E;
    font-size: 35px;
    margin-top: 15px;
    text-align: right;
    margin-right: 30px;
}

.fontsty span {
    color: #6E6E6E;
    font-size: 18px;
    margin-top: 15px;
    text-align: right;
    margin-right: 30px;
}

.fontsty h4 {
    color: #6E6E6E;
    font-size: 25px;
    margin-top: 20px;
    text-align: right;
    margin-right: 30px;
}

