/*map*/
agm-map {
    height: 800px;
}
.map-control-top-panel {
    position: relative;
    top: -785px;
    left: -5px;
    display:flex;
    width: 0px;
}

/*map bottom panel*/
.map-control-bottom-panel {
    position: relative;
    top: -106px;
    left: -5px;
    display: flex;
}

.time-step {
    color: #fff;
    text-shadow: 1px 1px 8px #000000;
}

/*map left panel*/
.map-control-left-panel {
    position: relative;
    top: -218px;
    width: 165px;
    font-size: 11px;
    left: -5px;
}

.map-compass-container {
    position: absolute;
    top: 8%;
    width: 150px;
    right: 25px;
}

#arrows {
    transform: rotate(180deg);
    transform-origin: 50% 50%;
}

.checkbox-container {
    padding: 0px 10px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 4px;
}

.iw-container .iw-title {
    margin-bottom: 5px;
}

.iw-container p{
    margin:0;
}

.iw-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
}

.iw-title:hover {
    opacity:0.8;
}

.no_v_padding > tbody > tr > td,
.no_v_padding > tbody > tr > th,
.no_v_padding > tfoot > tr > td,
.no_v_padding > tfoot > tr > th,
.no_v_padding > thead > tr > td,
.no_v_padding > thead > tr > th {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

/* Right panel */
.detailed-place-window {
    position: absolute;
    top: 25%;
    width: 200px;
    right: 25px;
}

/* Right panel for emission rate*/
.emission-rate-window {
    position: absolute;
    top: 50%;
    width: 200px;
    right: 25px;
}

/* Control panel*/
.test-panel {
    position: absolute;
    margin-top: 15px;
}

.radiuses-panel {
    position: absolute;
    top: 61px;
    left: 25px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 62px;
    height: 36px;
    min-width: 62px;
}
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
.slider {
    border: solid 1px #2dca46;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    border: solid 2px #2dca46;
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #d2e800;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2dca46;
}
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.switch-title {
    position:absolute;
    background-color: #cacaca;
    display: block;
    opacity: 0.7;
    font-size: 17px;
    color: black;
    padding: 2px 10px;
    width: 144px;
}