<legend>Gas monitors map</legend>

<div class="map-container">
    <agm-map [clickableIcons]="false"
             [mapTypeId]="mapType"
             [latitude]="latitude"
             [longitude]="longitude"
             [zoom]="mapZoom"
             [minZoom]="minZoom"
             [maxZoom]="maxZoom"
             [disableDefaultUI]="true"
             [streetViewControl]="false"
             [mapDraggable]="isAdministrator == true"           
             [scrollwheel]="isAdministrator == true"
             [scaleControl]="isAdministrator == true"
             [keyboardShortcuts]="isAdministrator == true"
             (mapClick)="mapClicked($event)"
             (zoomChange)="zoomChanged($event)"
             [gestureHandling]="'cooperative'"
             (boundsChange)="onBoundsChanged($event)"
             [fitBounds]="latlngBounds"
             [rotateControl]="false"
             [panControl]="false"
             [usePanning]="false"
             [fullscreenControl]="false"
             [mapTypeControl]="false"
             [zoomControl]="false">
        <!--Place marker-->
        <agm-marker *ngIf="place" [latitude]="latitude" [longitude]="longitude">
            <agm-info-window [isOpen]="true">
                <strong>{{place.name}}</strong>
                <br />
                <span>{{place.formatted_address }}</span>
            </agm-info-window>
        </agm-marker>
        <!--/Place marker-->
        <ng-container *ngFor="let region of regions; let regionIndex = index">
            <agm-marker *ngFor="let sensor of region.sensors; let sensorIndex = index"
                        (mouseOver)="showHideInfoWindow(true, sensor)"
                        (mouseOut)="showHideInfoWindow(false, sensor)"
                        (markerClick)="clickedMarker(sensor)"
                        [iconUrl]="sensor.isActive ? ((leaks[sensor.id] && (regionId == 4 ? leaks[sensor.id].status > 0 : leaks[sensor.id].status2 > 1)) ? sensor.iconUrlDanger : sensor.iconUrl) : sensor.iconUrlEmpty"
                        [latitude]="sensor.latitude"
                        [longitude]="sensor.longitude"
                        [label]="sensor.labelOptions"
                        [markerDraggable]="false"
                        [visible]="sensor.isVisible"
                        [openInfoWindow]="false"
                        [opacity]="sensor.isActive ? 0.5 : 1">
                <agm-info-window *ngIf="activeInfoWindow && sensor.isTolTipVisible && mapZoom > 11"
                                 [isOpen]="sensor.isTolTipVisible"
                                 [disableAutoPan]="false"
                                 (infoWindowClose)="infoWindowClosed(sensor, sensorIndex)">
                    <div class="iw-container">
                        <div class="iw-title">
                        </div>
                        <div>
                            <p><span><b>14 days concentration: </b>{{sensor.twoWeeksConcentration}} &micro;g/m<sup>3</sup></span></p>
                            <p><span><b>Event prediction: </b>{{sensor.twoWeeksConcentration}} &micro;g/m<sup>3</sup></span></p>
                        </div>
                    </div>
                </agm-info-window>

                <!----Wind vector-->
                <agm-polyline *ngIf="mapZoom > 11 && sensor && sensor.windVector &&  (sensor.concentration > 0 || sensor.windSpeed > 0 || sensor.averageRult.windDirection > 0)" [strokeWeight]="3" [strokeColor]="'Yellow'" [strokeOpacity]="0.5">
                    <agm-polyline-point [latitude]="sensor.windVector.lat1" [longitude]="sensor.windVector.lng1">
                    </agm-polyline-point>
                    <agm-polyline-point [latitude]="sensor.windVector.lat2" [longitude]="sensor.windVector.lng2">
                    </agm-polyline-point>
                </agm-polyline>
                <!----Wind vector-->
                <!---Back line-->
                <agm-polyline *ngIf="mapZoom > 11 && sensor && sensor.windVector &&  (sensor.concentration > 0 || sensor.windSpeed > 0 || sensor.windDirection > 0)" [strokeWeight]="5" [strokeColor]="'Orange'" [strokeOpacity]="1">
                    <agm-polyline-point [latitude]="sensor.windVector.lat2" [longitude]="sensor.windVector.lng2">
                    </agm-polyline-point>
                    <agm-polyline-point [latitude]="sensor.windVector.backLineLat" [longitude]="sensor.windVector.backLineLng">
                    </agm-polyline-point>
                </agm-polyline>
                <!----Back line-->
                <!---Arrow-->
                <agm-polyline *ngIf="sensor && sensor.isLeak && sensor.arrow"
                              [strokeWeight]="3"
                              [strokeColor]="'Red'"
                              [strokeOpacity]="1">
                    <agm-polyline-point [latitude]="sensor.arrow.startLatitude" [longitude]="sensor.arrow.startLongitude">
                    </agm-polyline-point>
                    <agm-polyline-point [latitude]="sensor.pair.latitude" [longitude]="sensor.pair.longitude">
                    </agm-polyline-point>
                    <agm-polyline-point [latitude]="sensor.arrow.endLatitude" [longitude]="sensor.arrow.endLongitude">
                    </agm-polyline-point>
                </agm-polyline>
                <!---Arrow-->
                <!---Leak red line-->
                <agm-polyline *ngIf="sensor && sensor.isLeak && sensor.pair"
                              [strokeWeight]="3"
                              [strokeColor]="'Red'"
                              [strokeOpacity]="1">
                    <agm-polyline-point [latitude]="sensor.latitude" [longitude]="sensor.longitude">
                    </agm-polyline-point>
                    <agm-polyline-point [latitude]="sensor.pair.latitude" [longitude]="sensor.pair.longitude">
                    </agm-polyline-point>
                </agm-polyline>
                <!----Leak red line-->

                <agm-polygon *ngIf="sensor && sensor.isLeak && sensor.points"
                             [fillColor]="'Green'"
                             [fillOpacity]="0.3"
                             [strokeColor]="'Red'"
                             [strokeOpacity]="1"
                             [strokeWeight]="1"
                             [paths]="sensor.points"></agm-polygon>
                <!--[fillColor]="mapService.CIRCLES_STYLES[leaks[sensor.id].status]?.fillColor"
               [fillOpacity]="mapService.CIRCLES_STYLES[leaks[sensor.id].status]?.fillOpacity"
               [strokeColor]="mapService.CIRCLES_STYLES[leaks[sensor.id].status]?.strokeColor"-->
                <agm-circle *ngIf="leaks[sensor.id] && (regionId == 4 ? leaks[sensor.id].status2 == 2 : leaks[sensor.id].status > 0)"
                            [latitude]="sensor.latitude"
                            [longitude]="sensor.longitude"
                            [radius]="leaks[sensor.id].maxPfRadiusConstant ? leaks[sensor.id].maxPfRadiusConstant : mapService.MAX_PF_RADIUS_CONSTANT"
                            [fillColor]="mapService.CIRCLES_STYLES[3]?.fillColor"
                            [fillOpacity]="mapService.CIRCLES_STYLES[3]?.fillOpacity"
                            [strokeColor]="mapService.CIRCLES_STYLES[3]?.strokeColor"
                            [strokeOpacity]="1"
                            [strokePosition]="0"
                            [strokeWeight]="mapService.CIRCLES_STYLES[leaks[sensor.id].status - 1]?.strokeWeight"
                            [zIndex]="4"></agm-circle>
                <!-- WARNING! Very small!  -->
                <ng-container *ngIf="sensor.vecEndPoints?.length > 0">
                    <agm-circle *ngFor="let element of sensor.vecEndPoints"
                                [latitude]="element.point.latitude"
                                [longitude]="element.point.longitude"
                                [radius]="mapService.POINTS_RADIUSES[mapZoom]/(regonId == 4 ? 1 : 1.5)"
                                [fillColor]="'white'"
                                [fillOpacity]="1"
                                [strokeColor]="element.isNew ? 'red' : 'yellow'"
                                [strokeOpacity]="1"
                                [strokePosition]="0"
                                [strokeWeight]="1"
                                [zIndex]="20">
                    </agm-circle>
                </ng-container>
            </agm-marker>
            <!--<agm-marker *ngFor="let sensor of region.sensors; let sensorIndex = index"
                [iconUrl]="mapService.UNIT_ICO"
                [latitude]="sensor.latitude - mapService.UNITS_COEFFICIENTS[mapZoom]"
                [longitude]="sensor.longitude"
                [label]="(leaks[sensor.id] ? leaks[sensor.id]?.maxPintPF.toString() : '0') + ' mg m-2 s-2'"
                [markerDraggable]="true"
                [visible]="mapZoom > 13 && isShowUnits && leaks[sensor.id] != null"
                [openInfoWindow]="false">
            </agm-marker>-->
            <agm-marker *ngFor="let sensor of region.sensors; let sensorIndex = index"
                        [iconUrl]="mapService.UNIT_ICO"
                        [latitude]="sensor.latitude"
                        [longitude]="getBoobleCoordinates(sensor.id).longitude + mapService.UNITS_COEFFICIENTS[mapZoom]"
                        [label]="(leaks[sensor.id] ? leaks[sensor.id]?.maxPintPF.toFixed(2).toString() : '0') + ' mg m-2 s-1'"
                        [markerDraggable]="true"
                        [visible]="mapZoom > 13 && isShowUnits && leaks[sensor.id] != null"
                        [openInfoWindow]="false">
            </agm-marker>
        </ng-container>

        <agm-polygon #poly [paths]="points" 
                     [fillColor]="getEllipseColor()" 
                     [strokeColor]="getEllipseColor()" 
                     [polyDraggable]="false" 
                     [editable]="false"
                     [clickable]="true"
                     [zIndex]="20"
                     (polyClick)="ellipseClick($event)">
        </agm-polygon>
    </agm-map>

    <!--top panel-->
    <div *ngIf="isLoaded" class="map-control-top-panel">
        <div class="col-sm-2" title="Method 325 info">
            <label class="switch">
                <input type="checkbox" [(ngModel)]="activeInfoWindow" (change)="getTwoWeeksConcentration()">
                <span class="slider round"></span>
            </label>
            <span class="switch-title">Method 325 info</span>
        </div>
    </div>

    <!--bottom panel-->
    <div *ngIf="isLoaded" class="map-control-bottom-panel">
        <div class="col-sm-2" *ngIf="isLoaded && regions && regions.length > 1">
            <select class="form-control regions" (change)="regionSelected($event.target.value)">
                <option [value]="undefValue" selected disabled>-- Select a site --</option>
                <option *ngFor="let region of regions" [value]="region.id">{{region.name}}</option>
            </select>
        </div>
        <div class="col-sm-3" *ngIf="isAdministrator === true">
            <input 
                   placeholder="Insert location"
                   #search
                   autocorrect="off"
                   autocapitalize="off"
                   spellcheck="off"
                   type="text"
                   class="form-control search" />
        </div>
        <div class="col-sm-3">
            <button type="button" (click)="changedViewMode(0)" class="btn btn-default" title="Extend Site"><span class="glyphicon glyphicon-globe"></span></button>
            <button type="button" (click)="changedViewMode(1)" class="btn btn-default" title="Extend Monitors"><span class="glyphicon glyphicon-signal"></span></button>
            <button type="button" (click)="changedViewMode(2)" class="btn btn-default" title="Extend Leak Monitors With Ellipse"><span class="glyphicon glyphicon-tint"></span></button>
        </div>
    </div>
    <!--/bottom panel-->
    <!--left panel-->
    <div *ngIf="isLoaded && isAdministrator" class="map-control-left-panel">
        <div class="col-md-12">
            <div class="checkbox-container">
                <!--<div class="checkbox">
                    <label><input type="checkbox" [(ngModel)]="isInfoWindowOpened" (change)="showHideInfoWindow()" />Show raw data</label>
                </div>-->
                <div class="checkbox">
                    <label><input type="checkbox" [(ngModel)]="isShowUnits" />Show units</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" [(ngModel)]="isShowRegions" (change)="showHideRegions(isShowRegions)" />Show site border</label>
                </div>
            </div>            
        </div>
    </div>
    <!--/left panel-->
    <!-- detailed sensor panel -->
    <cagm-detailed-place-window class="detailed-place-window" *ngIf="activeSensor"
                                [name]="activeSensor.regionName"
                                [sensor]="activeSensor.label"
                                [concentration]="activeSensor.averageResult?.concentration"
                                [windDirection]="activeSensor.averageResult?.windDirection"
                                [windSpeed]="activeSensor.averageResult?.windSpeed"
                                [newMaxPF]="leaks[activeSensor.id]?.newMaxPintPF"
                                [maxPFPoint]="leaks[activeSensor.id]?.maxPintPF"
                                (clickClose)="activeSensor=null"></cagm-detailed-place-window>
    <!-- /detailed sensor panel -->
    <!-- emission rate panel -->
    <emission-rate-window class="emission-rate-window" *ngIf="activeEllipse"
                                    [center]="getCenterEllipse()"
                                    [newMaxPF]="leaks[leakSensorId]?.newMaxPintPF"
                                    [maxPFPoint]="leaks[leakSensorId]?.maxPintPF"
                                    (clickClose)="activeEllipse=null"></emission-rate-window>
    <!-- /emission rate panel -->
    <!--compass-->
    <div class="map-compass-container">
        <compas [deg]="windDirect"></compas>
    </div>

    <!-- Radiuses for sensors-->
    <div *ngIf="false && isAdministrator && currentRegion" class="radiuses-panel">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Monitors radiuses</h4>
            </div>
            <div class="panel-body">
                <p *ngFor="let sensor of currentRegion.sensors; let sensorIndex = index">
                    <span>Monitor id: {{sensor.monitorId}} Radius: </span>
                    <input value="{{getConstantRadiuse(currentRegion.id, sensor.monitorId)}}" [(ngModel)]="leaks[sensor.id].maxPfRadiusConstant" type="number" (ngModelChange)="changedSensorRadiuse($event, sensor.id)" />
                </p>
            </div>
        </div>
    </div>
    <!-- /Radiuses for sensors--> 
</div>
