<legend>Leak Events</legend>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="date-peacker">
            <select class="form-control" [(ngModel)]="selectedRegionId">
                <option [value]="-1" selected>All sites</option>
                <option *ngFor="let region of regionsNames" [value]="region.id">{{region.name}}</option>
            </select> 
        </div>
        <button class="btn btn-danger pull-right" [disabled]="selectedRegionId <= 0" (click)="deleteRegionSensorsEvents()">Delete site monitors events</button>
    </div>
</div>

<div class="vertical-10"></div>

<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>MonitorId</th>
                <th>Site</th>
                <th>Source Latitude</th>
                <th>Source Longitude</th>
                <th>PairedMonitorId</th>
                <th>Parallel WD</th>
                <th>Cross WD</th>
                <th>Average WD</th>
                <th>Emission Rate</th>
                <th>Event Time</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let sensorEvent of sensorEvents | regionsFilter:selectedRegionId; let i=index">
                <!--<tr *ngIf="sensorEvent.status === 'Start'">
                    <td>{{sensorEvent.regionName}}</td>
                    <td>{{sensorEvent.sourceLatitude}}</td>
                    <td>{{sensorEvent.sourceLongitude}}</td>
                    <td>{{sensorEvent.pairedMonitorId}}</td>
                    <td>{{sensorEvent.parallelWindDirection}}</td>
                    <td>{{sensorEvent.crossWindDirection}}</td>
                    <td>{{sensorEvent.averageWindDirection}}</td>
                    <td>{{sensorEvent.emissionRate}}</td>
                    <td>{{sensorEvent.eventTime | date : 'dd-MM-yyyy HH:mm:ss'}}</td>
                    <td [ngStyle]="sensorEvent.status === 'Start'?{'color' :'Red'} :{'color':'Blue'}">{{sensorEvent.status}}</td>
                </tr>
                <tr *ngIf="sensorEvent.status === 'Start' && sensorEvent.endEvent">
                    <td>{{sensorEvent.endEvent.regionName}}</td>
                    <td>{{sensorEvent.endEvent.sourceLatitude}}</td>
                    <td>{{sensorEvent.endEvent.sourceLongitude}}</td>
                    <td>{{sensorEvent.endEvent.pairedMonitorId}}</td>
                    <td>{{sensorEvent.endEvent.parallelWindDirection}}</td>
                    <td>{{sensorEvent.endEvent.crossWindDirection}}</td>
                    <td>{{sensorEvent.endEvent.averageWindDirection}}</td>
                    <td>{{sensorEvent.endEvent.emissionRate}}</td>
                    <td>{{sensorEvent.endEvent.eventTime | date : 'dd-MM-yyyy HH:mm:ss'}}</td>
                    <td [ngStyle]="sensorEvent.endEvent.status === 'Start'?{'color' :'Red'} :{'color':'Blue'}">{{sensorEvent.endEvent.status}}</td>
                </tr>-->
                <tr>
                    <td>{{sensorEvent.monitorId}}</td>
                    <td>{{sensorEvent.regionName}}</td>
                    <td>{{sensorEvent.sourceLatitude}}</td>
                    <td>{{sensorEvent.sourceLongitude}}</td>
                    <td>{{sensorEvent.pairedMonitorId}}</td>
                    <td>{{sensorEvent.parallelWindDirection}}</td>
                    <td>{{sensorEvent.crossWindDirection}}</td>
                    <td>{{sensorEvent.averageWindDirection}}</td>
                    <td>{{sensorEvent.emissionRate}}</td>
                    <td>{{sensorEvent.eventTime | date : 'dd-MM-yyyy HH:mm:ss'}}</td>
                    <td [ngStyle]="sensorEvent.status === 'Start'?{'color' :'Red'} :(sensorEvent.status === 'End'?{'color' :'Green'} :{'color':'Blue'})">
                        <b>{{sensorEvent.status}}</b>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>
