.form-signin {
    max-width: 500px;
    padding: 15px;
    margin: 0 auto;
}
/*.custom-form-group {
    display: flex;
}
.div-checkbox {
    display: flex;
    align-items: flex-end;
}
.form-check-input {
    display: block;
    margin: 4px;
}
.form-check-label {
    display: block;
    margin: 0;
}*/