#chartdiv, #chartdivLines {
    width: 100%;
    height: 800px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/*map*/
agm-map {
    height: 800px;
}

.monitor-tab {
    margin: 20px 0;
}

/*timer panel*/
.timer-panel {

}

.date-container {
    width: 140px !important;
}

.leak-alert {
    box-shadow: 0px 1px 21px #da534f;
}

.total-title {
    margin-left: 30px;
}

.pinnedPanel {
    background-color: #f1f1f1;
    box-shadow: 2px 2px 10px #9a9a9a;
    padding: 5px 10px 0 10px;
}

.pinnedPanel > .row {
    padding: 0 !important;
}

.pinnedPanel .table {
    margin: 0;
}

.fixed {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
}

.time-step {
    font-size:10px;
}

.fire-event {
    color: #c5c5c5;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.nav-tabs > li > p {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    position: relative;
    display: block;
    padding: 10px 15px;
}

.settings {
    border-bottom: 1px solid #c7c7c7;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #dddddd;
}

/*map bottom panel*/
.map-control-bottom-panel {
    position: relative;
    top: -70px;
    margin-right: 38px;
}

.time-step {
    color: #fff;
    text-shadow: 1px 1px 8px #000000;
}

/*map left panel*/
.map-control-left-panel {
    position: relative;
    top: -530px;
    width: 165px;
    font-size: 11px;
}

.checkbox-container {
    padding: 0px 10px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 4px;
}

.iw-container {
    max-width: 150px;
}

    .iw-container .iw-title {
        margin-bottom: 5px;
    }

    .iw-container p {
        margin: 0;
    }

.iw-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
}

    .iw-title:hover {
        opacity: 0.8;
    }

.no_v_padding > tbody > tr > td,
.no_v_padding > tbody > tr > th,
.no_v_padding > tfoot > tr > td,
.no_v_padding > tfoot > tr > th,
.no_v_padding > thead > tr > td,
.no_v_padding > thead > tr > th {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.no_padding > tbody > tr > td,
.no_padding > tbody > tr > th,
.no_padding > tfoot > tr > td,
.no_padding > tfoot > tr > th,
.no_padding > thead > tr > td,
.no_padding > thead > tr > th {
    padding: 0 !important;
    text-align:center;
}

.disp_i {
    display:inline-block;

}

/*scroll buttons*/
.scroller-top {
    position: fixed;
    right: 1%;
    z-index: 10;
    bottom: 1%;
}

.scroller-down {
    position: fixed;
    right: 1%;
    z-index: 10;
    top: 1%;
}