<legend> Gaussian fit </legend>

<div id="tab-container" class="tab-content">
    <div class="tab-pane active" id="1">
        <!--test tmp_buffer and MOVING_Average_METHOD-->
        <br />
        <div id="settings" class="row accordion-body">
            <div class="col-md-4">
                <div class="checkbox">
                    <label><input type="checkbox" name="clearChart" [(ngModel)]="clearChart" value="clearChart" />Clear Chart</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name="isBuildChart" [(ngModel)]="isBuildChart" value="isBuildChart" />Draw chart</label>
                </div>
                <!--<div class="checkbox">
                    <label><input type="checkbox" name="isFminSearchMethod" [(ngModel)]="isFminSearchMethod" value="isFminSearchMethod" />Show Gaussian fit by fminsearch</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name="isPolyfitMethod" [(ngModel)]="isPolyfitMethod" value="isPolyfitMethod" />Show Gaussian fit by polyfit</label>
                </div>-->
                <div class="checkbox">
                    <label><input type="checkbox" name="sourceFromDB" [(ngModel)]="sourceFromDB" value="sourceFromDB" />Load from DB</label>
                </div>
                <div>
                    <span> Results: <b>{{sensors[monitorTabIndex] ? sensors[monitorTabIndex].allResults.length : 0}}</b> </span>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4">

                <p>
                    <input style="width: 60px" type="number" [(ngModel)]="numberOfSkipResults" />
                    <input style="width: 60px" type="number" [(ngModel)]="numberOfNewResults" />
                    <button class="btn btn-default" [disabled]="sensors[monitorTabIndex] && sensors[monitorTabIndex].allResults && sensors[monitorTabIndex].allResults.length - sensors[monitorTabIndex].step < minNewResultsCount" (click)="addNewResults()">Add new results</button>
                </p>
                <button class="btn btn-info" [disabled]="!(sensors[monitorTabIndex] && sensors[monitorTabIndex].resultsToSend )" (click)="sendResults()">
                    Run Moving Average Method
                </button>
                <span>Step: <b>{{sensors[monitorTabIndex] ? sensors[monitorTabIndex].step : 0}}</b></span>
            </div>
            <div class="col-md-4">
                <button class="btn btn-danger" (click)="removeMonitorsResults()">Remove all monitors data from DB</button>
                <p></p>
                <button class="btn" (click)="refreshResults()"><i class="glyphicon glyphicon-refresh"></i> Refresh</button>
                <!--[disabled]="!(sensors[0] && sensors[0].accumulatedAproximations && sensors[0].accumulatedAproximations[0])"-->
                <button class="btn" (click)="generateFile()"><i class="glyphicon glyphicon-file"></i> Generate results file</button>
                <p>
                    <a class="btn" *ngIf="downloadLink" href="{{downloadLink}}"><i class="glyphicon glyphicon-file"></i> Download file</a>
                </p>
            </div>
        </div>
        <br />
        <!--timer panel-->
        <div class="row timer-panel">

            <div class="col-xs-12 col-md-6">
                <!--Pause-->
                <button class="btn" [ngClass]="{'btn-success':activeButton == 0, 'btn-default':activeButton != 0}" (click)="stopTimer(); activeButton = 0">
                    <i class="glyphicon glyphicon-pause"></i>
                </button>
                <!--Play forward Time-->
                <button class="btn" [ngClass]="{'btn-success':activeButton == 1, 'btn-default':activeButton != 1}" (click)="startTimer(1000); activeButton = 1">
                    <i class="glyphicon glyphicon-triangle-right"></i>
                </button>
                <button class="btn" [ngClass]="{'btn-success':activeButton == 2, 'btn-default':activeButton != 2}" (click)="startTimer(500); activeButton = 2">
                    <i class="glyphicon glyphicon-forward"></i>
                </button>
                <button class="btn" [ngClass]="{'btn-success':activeButton == 3, 'btn-default':activeButton != 3}" (click)="startTimer(200); activeButton = 3">
                    <i class="glyphicon glyphicon-forward"></i>
                    <i class="glyphicon glyphicon-forward"></i>
                </button>
                <span>Stop on step: </span> <input style="width:60px" type="number" [(ngModel)]="timerLimitStep" />
            </div>
        </div>
        <!--/timer panel-->
        <!--Monitor tabs-->
        <div class="monitor-tab">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" (click)="setMonitorTabIndex(0)">
                        <label [ngClass]="{'btn-danger leak-alert' : this.sensors[0] && this.sensors[0].requestedResult && this.sensors[0].requestedResult.isLeak}">First monitor (1001)</label>
                        <!--<span #eventIcon_1001 class='glyphicon glyphicon-fire fire-event'></span>-->
                        <!--<ng-container *ngIf="sensors[0] && sensors[0].resultsToSend[sensors[0].resultsToSend.length - 1] else container1001">
                            <br /> <span>{{sensors[0].resultsToSend[sensors[0].resultsToSend.length - 1].timeEnd}}</span>
                        </ng-container>
                        <ng-template #container1001>
                            <br /> <span>-- : -- : --</span>
                        </ng-template>-->
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" (click)="setMonitorTabIndex(1)">
                        <label [ngClass]="{'btn-danger leak-alert' : this.sensors[1] && this.sensors[1].requestedResult && this.sensors[1].requestedResult.isLeak}">Second monitor (1002)</label>
                        <!--<span #eventIcon_1002 class='glyphicon glyphicon-fire fire-event'></span>-->
                        <!--<ng-container *ngIf="sensors[1] && sensors[1].resultsToSend[sensors[1].resultsToSend.length - 1] else container1002">
                            <br /> <span>{{sensors[1].resultsToSend[sensors[1].resultsToSend.length - 1].timeEnd}}</span>
                        </ng-container>
                        <ng-template #container1002>
                            <br /> <span>-- : -- : --</span>
                        </ng-template>-->
                    </a>
                </li>

                <!--<li>
                    <p>Current date: {{currentDate | date : 'dd-MM-yyyy HH:mm:ss'}}</p>
                </li>-->
            </ul>
        </div>

        <!--Monitor tabs-->
        <!--Leak check-->
        <!--<div *ngIf="sensors[monitorTabIndex] && main_Buffers[monitorTabIndex] && main_Buffers[monitorTabIndex].sensorResults[0]">
            <table class="table table-striped no_padding">
                <thead>
                    <tr class="text-center">
                        <th>PF2_Average,</th>
                        <th>(PF1_Average</th>
                        <th>>=</th>
                        <th>PF_Max</th>
                        <th>||</th>
                        <th>(PF1_Average</th>
                        <th>>=</th>
                        <th>PF_Min</th>
                        <th>&&</th>
                        <th>isLeak)</th>
                        <th>&&</th>
                        <th>TWD_MIN</th>
                        <th><</th>
                        <th>TWD_AVERAGE</th>
                        <th><</th>
                        <th>TWD_MAX</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center">
                        <td>{{sensors[monitorTabIndex].PF2_Average}}</td>
                        <td>{{sensors[monitorTabIndex].PF1_Average}}</td>
                        <td></td>
                        <td>{{sensors[monitorTabIndex].detectionPointFluxMax}}</td>
                        <td></td>
                        <td>{{sensors[monitorTabIndex].PF1_Average}}</td>
                        <td></td>
                        <td>{{sensors[monitorTabIndex].detectionPointFluxMin}}</td>
                        <td></td>
                        <td>{{sensors[monitorTabIndex].isLeak}}</td>
                        <td></td>
                        <td>{{sensors[monitorTabIndex].onsiteWindMin}}</td>
                        <td></td>
                        <td>{{sensors[monitorTabIndex].WD_Average | floatValuePipe: 4}}</td>
                        <td></td>
                        <td>{{sensors[monitorTabIndex].onsiteWindMax}}</td>
                    </tr>
                </tbody>
            </table>
        </div>-->
        <!--Leak check-->
        <!--/test tmp_buffer and MOVING_Average_METHOD-->
        <br />


        <!--Gaussian fit chart-->
        <div class="row" [hidden]="!(chartData[0] && isBuildChart)">
            <div class="col-md-12">
                <label>min i:</label>
                <input type="number" [(ngModel)]="minI" />
                <label>min i:</label>
                <input type="number" [(ngModel)]="maxI" />

                <div id="chartdiv"></div>

                <ng-container *ngIf="sensors && sensors[0] && sensors[0].requestedResult && sensors[0].requestedResult.smoothingResult">
                    <p class="text">
                        <span>1001 (fminsearch): </span>
                        A = <span class="badge">{{sensors[0].requestedResult.smoothingResult.fminsearchAproximationAverage.a}}</span>
                        Mu = <span class="badge">{{sensors[0].requestedResult.smoothingResult.fminsearchAproximationAverage.mu}}</span>
                        Sigma = <span class="badge">{{sensors[0].requestedResult.smoothingResult.fminsearchAproximationAverage.sigma}}</span>
                    </p>
                    <p class="text">
                        <span>1001 (polyfit): </span>
                        A = <span class="badge">{{sensors[0].requestedResult.smoothingResult.polyfitAproximationAverage.a}}</span>
                        Mu = <span class="badge">{{sensors[0].requestedResult.smoothingResult.polyfitAproximationAverage.mu}}</span>
                        Sigma = <span class="badge">{{sensors[0].requestedResult.smoothingResult.polyfitAproximationAverage.sigma}}</span>
                    </p>
                    <br />
                </ng-container>
                <ng-container *ngIf="sensors && sensors[1] && sensors[1].requestedResult && sensors[1].requestedResult.smoothingResult">
                    <p class="text">
                        <span>1002 (fminsearch): </span>
                        A = <span class="badge">{{sensors[1].requestedResult.smoothingResult.fminsearchAproximationAverage.a}}</span>
                        Mu = <span class="badge">{{sensors[1].requestedResult.smoothingResult.fminsearchAproximationAverage.mu}}</span>
                        Sigma = <span class="badge">{{sensors[1].requestedResult.smoothingResult.fminsearchAproximationAverage.sigma}}</span>
                    </p>
                    <p class="text">
                        <span>1002 (polyfit): </span>
                        A = <span class="badge">{{sensors[1].requestedResult.smoothingResult.polyfitAproximationAverage.a}}</span>
                        Mu = <span class="badge">{{sensors[1].requestedResult.smoothingResult.polyfitAproximationAverage.mu}}</span>
                        Sigma = <span class="badge">{{sensors[1].requestedResult.smoothingResult.polyfitAproximationAverage.sigma}}</span>
                    </p>
                </ng-container>
            </div>
            <hr />
        </div>
        <!--Gaussian fit chart-->
        <!--<br />-->
        <!--Monitor results to send-->
        <div class="row">
            <div class="col-md-12">
                <legend>Monitor results to send ({{sensors[monitorTabIndex] && sensors[monitorTabIndex].resultsToSend ? sensors[monitorTabIndex].resultsToSend.length : 0}}):</legend>
                <div class="table-responsive" *ngIf="sensors[monitorTabIndex] && sensors[monitorTabIndex].resultsToSend[0]">
                    <table class="table table-hover table-striped no_v_padding">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>timeBegin</th>
                                <th>timeEnd</th>
                                <th>concentration</th>
                                <th>windDirection</th>
                                <th>windSpeed</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="sensors[monitorTabIndex] && sensors[monitorTabIndex].resultsToSend">
                                <tr *ngFor="let result of sensors[monitorTabIndex].resultsToSend; let i = index">
                                    <td>{{i + 1}}</td>
                                    <td>{{result.timeBegin | date : 'dd-MM-yyyy HH:mm:ss'}}</td>
                                    <td>{{result.timeEnd | date : 'dd-MM-yyyy HH:mm:ss'}}</td>
                                    <td>{{result.concentration | floatValuePipe: 4}}</td>
                                    <td>{{result.windDirection | floatValuePipe: 4}}</td>
                                    <td>{{result.windSpeed | floatValuePipe: 4}}</td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--Monitor results to send-->
        <!--Processed Monitor results-->


        <div class="row">
            <div class="col-md-12">
                <legend>Processed Monitor results ({{sensors[monitorTabIndex] && sensors[monitorTabIndex].requestedResult && sensors[monitorTabIndex].requestedResult.processedSensorResults ? sensors[monitorTabIndex].requestedResult.processedSensorResults.length : 0 }}):</legend>
                <div class="table-responsive" *ngIf="sensors[monitorTabIndex] && sensors[monitorTabIndex].requestedResult">
                    <table class="table table-hover table-striped no_v_padding">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>timeBegin</th>
                                <th>timeEnd</th>
                                <th>concentration</th>
                                <th>windDirection</th>
                                <th>windSpeed</th>
                                <th>TWD</th>
                                <th>PF</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="sensors[monitorTabIndex].requestedResult.processedSensorResults">
                                <tr *ngFor="let sensorResult of sensors[monitorTabIndex].requestedResult.processedSensorResults; let i = index">
                                    <td>{{i + 1}}</td>
                                    <td>{{sensorResult.timeBegin | date : 'dd-MM-yyyy HH:mm:ss'}}</td>
                                    <td>{{sensorResult.timeEnd | date : 'dd-MM-yyyy HH:mm:ss'}}</td>
                                    <td>{{sensorResult.concentration | floatValuePipe: 4}}</td>
                                    <td>{{sensorResult.windDirection | floatValuePipe: 4}}</td>
                                    <td>{{sensorResult.windSpeed | floatValuePipe: 4}}</td>
                                    <ng-container *ngIf="sensors[monitorTabIndex].requestedResult.smoothingResult">
                                        <td><b>{{sensors[monitorTabIndex].requestedResult.smoothingResult.transformedData[i].twd | floatValuePipe: 4}}</b></td>
                                        <td><b>{{sensors[monitorTabIndex].requestedResult.smoothingResult.transformedData[i].pf | floatValuePipe: 4}}</b></td>
                                    </ng-container>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--Processed Monitor results-->
        <!--Moving average results-->
        <div class="row">
            <div class="col-md-12">
                <legend>
                    Moving average results ({{sensors[monitorTabIndex] && sensors[monitorTabIndex].requestedResult && sensors[monitorTabIndex].requestedResult.smoothingResult && sensors[monitorTabIndex].requestedResult.smoothingResult.movingAverage ? sensors[monitorTabIndex].requestedResult.smoothingResult.movingAverage.length : 0 }}):
                </legend>
                <div class="table-responsive" *ngIf="sensors[monitorTabIndex] && sensors[monitorTabIndex].requestedResult && sensors[monitorTabIndex].requestedResult.smoothingResult">
                    <table class="table table-hover table-striped no_v_padding">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>TWD_Average</th>
                                <th>PF_Average</th>
                                <th>#</th>
                                <th>TWD_Average</th>
                                <th>PF_Average</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let average of sensors[monitorTabIndex].requestedResult.smoothingResult.movingAverage; let i = index">
                                <ng-container *ngIf="(sensors[monitorTabIndex].requestedResult.smoothingResult.movingAverage.length / 2 | floatValuePipe: 0) > i">
                                    <td>{{i + 1}}</td>
                                    <td>{{average.twd | floatValuePipe: 4}}</td>
                                    <td>{{average.pf | floatValuePipe: 4}}</td>
                                    <ng-container *ngIf="sensors[monitorTabIndex].requestedResult.smoothingResult.movingAverage[[(sensors[monitorTabIndex].requestedResult.smoothingResult.movingAverage.length / 2 | floatValuePipe: 0) + i]]">
                                        <td>{{(sensors[monitorTabIndex].requestedResult.smoothingResult.movingAverage.length / 2 | floatValuePipe: 0) + (i + 1) }}</td>
                                        <td>{{sensors[monitorTabIndex].requestedResult.smoothingResult.movingAverage[(sensors[monitorTabIndex].requestedResult.smoothingResult.movingAverage.length / 2 | floatValuePipe: 0) + i].twd | floatValuePipe: 4}}</td>
                                        <td>{{sensors[monitorTabIndex].requestedResult.smoothingResult.movingAverage[[(sensors[monitorTabIndex].requestedResult.smoothingResult.movingAverage.length / 2 | floatValuePipe: 0) + i]].pf | floatValuePipe: 4}}</td>
                                    </ng-container>
                                </ng-container>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--Moving average results-->
        <!--Grouped results-->
        <div class="row">
            <div class="col-md-12">
                <legend>Groups results ({{sensors[monitorTabIndex] && sensors[monitorTabIndex].requestedResult && sensors[monitorTabIndex].requestedResult.smoothingResult && sensors[monitorTabIndex].requestedResult.smoothingResult.groupedMovingAverage ? sensors[monitorTabIndex].requestedResult.smoothingResult.groupedMovingAverage.length : 0}}):</legend>
                <div class="table-responsive" *ngIf="sensors[monitorTabIndex] && sensors[monitorTabIndex].requestedResult && sensors[monitorTabIndex].requestedResult.smoothingResult">
                    <table class="table table-hover table-striped no_v_padding">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>AverageData</th>
                                <th>LR_Result</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let group of sensors[monitorTabIndex].requestedResult.smoothingResult.groupedMovingAverage; let i = index">
                                <td>{{i + 1}}</td>
                                <td>
                                    <!--Linear regression results-->
                                    <table class="table table-hover table-striped no_v_padding">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>TWD_Average</th>
                                                <th>PF_Average</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of group.items; let i = index">
                                                <td>{{i + 1}}</td>
                                                <td>{{item.twd | floatValuePipe: 4}}</td>
                                                <td>{{item.pf | floatValuePipe: 4}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!--/Linear regression results-->
                                </td>
                                <td>
                                    <!--Linear regression results-->
                                    <table class="table table-hover table-striped no_v_padding">
                                        <thead>
                                            <tr>
                                                <th>m</th>
                                                <th>b</th>
                                                <th>r</th>
                                                <th>x_intersect</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{group.regressionResult.m | floatValuePipe: 4}}</td>
                                                <td>{{group.regressionResult.b | floatValuePipe: 4}}</td>
                                                <td>{{group.regressionResult.r | floatValuePipe: 4}}</td>
                                                <td>{{group.regressionResult.interception | floatValuePipe: 4}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!--/Linear regression results-->
                                    <!--Average results-->
                                    <table class="table table-hover table-striped no_v_padding">
                                        <thead>
                                            <tr>
                                                <th>TWD_Average</th>
                                                <th>PF_Average</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{group.averageData.twd | floatValuePipe: 4}}</td>
                                                <td>{{group.averageData.pf | floatValuePipe: 4}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!--/Average regression results-->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--Grouped results-->



        <div class="row">
            <div class="col-md-12">
                <legend>Summary:</legend>
                <div class="table-responsive" *ngIf="sensors[monitorTabIndex] && sensors[monitorTabIndex].requestedResult && sensors[monitorTabIndex].requestedResult.smoothingResult">
                    <!--Average Results-->
                    <table class="table table-hover table-striped no_v_padding">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>TWD_Average</th>
                                <th>PF_Average</th>
                                <th>m</th>
                                <th>b</th>
                                <th>r</th>
                                <th>x_intersect</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let grAverage of sensors[monitorTabIndex].requestedResult.smoothingResult.groupedMovingAverage; let i = index">
                                <tr>
                                    <td>{{i + 1}}</td>
                                    <td>{{grAverage.averageData.twd | floatValuePipe: 4}}</td>
                                    <td>{{grAverage.averageData.pf | floatValuePipe: 4}}</td>
                                    <td>{{grAverage.regressionResult.m | floatValuePipe: 4}}</td>
                                    <td>{{grAverage.regressionResult.b | floatValuePipe: 4}}</td>
                                    <td>{{grAverage.regressionResult.r | floatValuePipe: 4}}</td>
                                    <td>{{grAverage.regressionResult.interception | floatValuePipe: 4}}</td>

                                </tr>
                            </ng-container>
                            <tr class="success">
                                <td colspan="3" class="text-center"> Result linear regression: </td>
                                <td>{{sensors[monitorTabIndex].requestedResult.smoothingResult.groupedMovingAverageRegression.m | floatValuePipe: 4}}</td>
                                <td>{{sensors[monitorTabIndex].requestedResult.smoothingResult.groupedMovingAverageRegression.b | floatValuePipe: 4}}</td>
                                <td>{{sensors[monitorTabIndex].requestedResult.smoothingResult.groupedMovingAverageRegression.r | floatValuePipe: 4}}</td>
                                <td>{{sensors[monitorTabIndex].requestedResult.smoothingResult.groupedMovingAverageRegression.interception | floatValuePipe: 4}}</td>
                            </tr>

                        </tbody>
                    </table>
                    <!--/Average Results-->

                </div>
            </div>
        </div>

        <!--Aproximations-->
        <div class="row">
            <div class="col-md-12">
                <legend>Fminsearch and polyfit:</legend>
                <div class="table-responsive" *ngIf="sensors[monitorTabIndex] && sensors[monitorTabIndex].accumulatedAproximations[0]">
                    <!--Smoothed and Average Results-->
                    <table class="table table-hover table-striped no_v_padding">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>End date</th>
                                <th>Fminsearch (Smoothed)</th>
                                <th>a</th>
                                <th>sigma</th>
                                <th>mu</th>
                                <th>Polyfit (Smoothed)</th>
                                <th>a</th>
                                <th>sigma</th>
                                <th>mu</th>
                                <th></th>
                                <th>Fminsearch (Average)</th>
                                <th>a</th>
                                <th>sigma</th>
                                <th>mu</th>
                                <th>Polyfit (Average)</th>
                                <th>a</th>
                                <th>sigma</th>
                                <th>mu</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let res of sensors[monitorTabIndex].accumulatedAproximations; let i = index">
                                <td>{{res.step}}</td>
                                <td>{{res.endDate}}</td>
                                <td></td>
                                <td>{{res.fminsearchAproximation.a}}</td>
                                <td>{{res.fminsearchAproximation.sigma}}</td>
                                <td>{{res.fminsearchAproximation.mu}}</td>
                                <td></td>
                                <td>{{res.polyfitAproximation.a}}</td>
                                <td>{{res.polyfitAproximation.sigma}}</td>
                                <td>{{res.polyfitAproximation.mu}}</td>
                                <td></td>
                                <td></td>
                                <td>{{res.fminsearchAproximationAverage.a}}</td>
                                <td>{{res.fminsearchAproximationAverage.sigma}}</td>
                                <td>{{res.fminsearchAproximationAverage.mu}}</td>
                                <td></td>
                                <td>{{res.polyfitAproximationAverage.a}}</td>
                                <td>{{res.polyfitAproximationAverage.sigma}}</td>
                                <td>{{res.polyfitAproximationAverage.mu}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <!--/-Smoothed and Average Results-->
                </div>
            </div>
        </div>
        <!--Aproximations-->
    </div>
</div>
