.ng-valid[required], .ng-valid.required {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442; /* red */
}

.required:after {
    content: " *";
}

.field-alert {
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.short-input {
    width: 30%;
}

/*map*/
agm-map {
    height: 60vh;
}

.map-panel {
    height: 0;
}

.checkbox-container {
    height: 83px;
    width: 192px;
    padding: 0px 10px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 4px;
    left: 8px;
    top: -131px;
    position: relative;
}

.remove-btn {
    top: -171px;
    left: 20px;
    position: relative;
}

.map-control-bottom-panel {
    position: relative;
    top: -39px;
    margin-left: 200px;
    margin-right: 38px;
    left: -207px;
}

.map-control-bottom-panel .search{
    width: 50%;
}
