<legend>Sites</legend>

<div class="row ">
    <div class="col-md-12">
        <div class="date-peacker-rel pull-right">
            <a [routerLink]="['/navmenu/site/add']" class="btn btn-success btn-sm pull-right"><span>Add new site </span><i class="glyphicon glyphicon-plus"></i></a>
        </div>
        <div class="date-peacker-rel offset-right pull-right">
            <button *ngIf="fileInputComponent.IsInputValid()" class="btn btn-success btn-sm" (click)="uploadFile()"><span>Upload </span><i class="glyphicon glyphicon-save"></i></button>
        </div>
        <div class="date-peacker-rel offset-right pull-right">
            <file-input [types]="'.xls,.xlsx,.csv'" [errorMsg]="'Please select file'" [count]="1" [buttonText]="'Add new data'" [fieldIsValid]="formGroup.file" ([inputValue])="dataFile" (inputValueChange)="dataFile=$event"></file-input>
        </div>
    </div>
</div>
<div class="vertical-10"></div>

<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Company</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Monitors</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <ng-container *ngFor="let region of data;let i=index">
                <tr>
                    <td>
                        <span *ngIf="region.sensors" class="clickable" data-toggle="collapse"
                              [attr.data-target]="'#' + region.id" (click)="setToggleArr(i)">
                            <i class="glyphicon glyphicon-chevron-right" [class.glyphicon-chevron-down]="toggleArr.includes(i)"></i>
                        </span>
                    </td>
                    <td>{{region.name}}</td>
                    <td>{{region.companyName}}</td>
                    <td>{{region.phone}}</td>
                    <td>{{region.email}}</td>
                    <td>
                        <img style="margin-right:10px; height:25px" src="{{'/assets/images/marker_icon_' + (region.id <= 10 ? region.id : 'default') + '.png'}}" />
                        <span>{{region.sensors?region.sensors.length:0}}</span>
                    </td>
                    <td>
                        <a class="btn btn-sm btn-info" title="View on map" [routerLink]="['/navmenu/map', region.id]"><i class="glyphicon glyphicon-map-marker"></i></a>
                        <a class="btn btn-sm btn-info" title="Edit" [routerLink]="['/navmenu/site/edit', region.id]"><i class="glyphicon glyphicon-edit"></i></a>
                        <button class="btn btn-sm btn-danger" title="Delete" (click)="delete(region)"><i class="glyphicon glyphicon-remove"></i></button>

                    </td>
                </tr>
                <tr>
                    <td colspan="7" class="zeroPadding">
                        <div class="accordion-body collapse" id="{{region.id}}">
                        
                        <!--sensors-->
                            <table *ngIf="region.sensors" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>MonitorId</th>
                                        <th>latitude</th>
                                        <th>longitude</th>
                                        <th>Left Monitor</th>
                                        <th>Right Monitor</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <ng-container *ngFor="let sensor of region.sensors">
                                        <tr>
                                            <td>{{sensor.monitorId}}</td>
                                            <td>{{sensor.latitude}}</td>
                                            <td>{{sensor.longitude}}</td>
                                            <td>
                                                <p>monitorIdToLeft: {{sensor.monitorIdToLeft}}</p>
                                                <p>distanceLeft: {{sensor.distanceLeft}}</p>
                                                <p>azimuthLeft: {{sensor.azimuthLeft}}</p>
                                                <p>normalAzimuthToLeft: {{sensor.normalAzimuthToLeft}}</p>
                                            </td>
                                            <td>
                                                <p>monitorIdToRight: {{sensor.monitorIdToRight}}</p>
                                                <p>distanceRight: {{sensor.distanceRight}}</p>
                                                <p>azimuthRight: {{sensor.azimuthRight}}</p>
                                                <p>normalAzimuthToRight: {{sensor.normalAzimuthToRight}}</p>
                                            </td>
                                            <td>
                                                <a class="btn btn-sm btn-info" title="Edit" (click)="globals.startUrl ='/sites'" [routerLink]="['/navmenu/monitor/edit', sensor.id]"><i class="glyphicon glyphicon-edit"></i></a>
                                                <button class="btn btn-sm btn-danger" title="Delete" (click)="deleteSensor(i, sensor)"><i class="glyphicon glyphicon-remove"></i></button>
                                            </td>   
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>                        
                        
                            <!--/ sensors-->
                        </div>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>



