<legend>{{isEditMode?'Edit':'Add'}} site</legend>

<div>
    <form name="regionForm" *ngIf="region" (ngSubmit)="save()" #f="ngForm">
        <div class="col-md-6">
            <div class="form-group">
                <label for="name" class="required">Name</label>
                <input type="text" class="form-control" id="name" placeholder="name" required [(ngModel)]="region.name" name="name" #name="ngModel">
                <div [hidden]="name.valid || name.pristine"
                    class="field-alert alert-danger">
                    Name is required
                </div>
            </div>
            <div class="form-group">
                <label for="phone" class="required">Phone</label>
                <input type="tel" class="form-control" id="phone" placeholder="phone" required [(ngModel)]="region.phone" name="phone" #phone="ngModel">
                <div [hidden]="phone.valid || phone.pristine"
                    class="field-alert alert-danger">
                    Phone is required
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="required">Email</label>
                <input type="email" class="form-control" id="email" placeholder="email" required [(ngModel)]="region.email" name="email" #email="ngModel" 
                    pattern='^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$'>
                <div [hidden]="email.valid || email.pristine"
                    class="field-alert alert-danger">
                    <div [hidden]="!email.hasError('required')">Field is required</div>
                    <div [hidden]="!email.hasError('pattern')">Invalid email</div>
                </div>
            </div>
            <div class="form-group">
                <label for="webSite" class="required">Website</label>
                <input type="url" class="form-control" id="webSite" placeholder="website" required [(ngModel)]="region.webSite" name="webSite" #webSite="ngModel">
                <div [hidden]="webSite.valid || webSite.pristine"
                    class="field-alert alert-danger">
                    Website is required
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="latitude" class="required">Latitude</label>
                <input type="number" class="form-control" id="latitude" placeholder="latitude" required [(ngModel)]="region.latitude" name="latitude" #latitude="ngModel">
                <div [hidden]="latitude.valid || latitude.pristine"
                        class="field-alert alert-danger">
                    Latitude is required
                </div>
            </div>
            <div class="form-group">
                <label for="longitude" class="required">Longitude</label>
                <input type="number" class="form-control" id="longtitude" placeholder="longitude" required [(ngModel)]="region.longitude" name="longitude" #longitude="ngModel">
                <div [hidden]="longitude.valid || longitude.pristine"
                        class="field-alert alert-danger">
                    Longitude is required
                </div>
            </div>
            <div class="form-group">
                <label for="zoom" class="required">Zoom</label>
                <input type="number" class="form-control" id="zoom" placeholder="zoom" required [(ngModel)]="region.zoom" name="zoom" #zoom="ngModel">
                <div [hidden]="zoom.valid || zoom.pristine"
                        class="field-alert alert-danger">
                    Zoom is required
                </div>
            </div>
            <div class="form-group">
                <label for="companyId" class="required">Company</label>
                <select class="form-control" id="companyId" [(ngModel)]="region.companyId" name="companyId" [disabled]="!companies" #companyId="ngModel">
                    <option [value]="undefValue" selected disabled>-- select Company --</option>
                    <option *ngFor="let company of companies" [value]="company.id">{{company.name}}</option>
                </select>
                <div [hidden]="companyId.valid || companyId.pristine || region.companyId"
                        class="field-alert alert-danger">
                    Company is required
                </div>
            </div>
        </div>
        <div class="col-md-12 map-container">
            <agm-map [mapTypeControl]="true"
                     [latitude]="region.latitude?region.latitude:autoCompleteLat"
                     [longitude]="region.longitude?region.longitude:autoCompleteLng"
                     [zoom]="region.zoom || autoCompleteZoom"
                     [minZoom]="minZoom"
                     [maxZoom]="maxZoom"
                     [disableDefaultUI]="false"
                     [scrollwheel]="true"
                     [zoomControl]="true"
                     (mapClick)="mapClicked($event)"
                     [scaleControl]="true"
                     [fullscreenControl]="true"
                     (zoomChange)="zoomChanged($event)"
                     [gestureHandling]="'cooperative'"
                     [fitBounds]="latlngBounds">
                    <ng-container *ngFor="let point of rectangle; let i = index">
                        <agm-marker [latitude]="point.latitude" [longitude]="point.longitude" [iconUrl]="icon" [markerDraggable]="true" (dragEnd)="pointMoved($event, i)"></agm-marker>
                    </ng-container>
                    <agm-marker *ngIf="region.latitude && region.longitude" [latitude]="region.latitude" [longitude]="region.longitude" [markerDraggable]="true" (dragEnd)="markerMoved($event)"></agm-marker>
                    <agm-polyline *ngIf="rectangle[0]" [strokeWeight]="3" [strokeColor]="'Green'" [strokeOpacity]="1">
                        <agm-polyline-point *ngFor="let data of rectangle" [latitude]="data.latitude" [longitude]="data.longitude">
                        </agm-polyline-point>
                    </agm-polyline>
            </agm-map>
            <div class="map-panel">
                <div class="checkbox-container">
                    <div class="checkbox">
                        <label><input type="checkbox" [disabled]="isRectangleCollapsed" name="isDrawRectangle" [(ngModel)]="isDrawRectangle" value="isDrawRectangle" />Draw rectangle</label>
                    </div>
                </div>
                <button [disabled]="!rectangle[0]" class="btn btn-sm btn-danger remove-btn" title="Clear rectangle" (click)="clearRectangle()"><span>Remove  </span><i class="glyphicon glyphicon-remove"></i></button>
                <button [disabled]="rectangle.length < 3 || isRectangleCollapsed" class="btn btn-sm btn-success remove-btn" title="Collapse rectangle" (click)="collapseRegion($event)"><span>Collapse </span><i class="glyphicon glyphicon-refresh"></i></button>
            </div>
            <!--bottom panel-->
            <div class="map-control-bottom-panel">
                <div class="col-sm-9">
                    <input placeholder="Insert location"
                        #search
                        autocorrect="off"
                        autocapitalize="off"
                        spellcheck="off"
                        type="text"
                        class="form-control search">
                </div>
            </div>
        </div>
        <legend class="text-center">Algorithm Parameters </legend>
        <div class="form-group col-md-6">
            <label for="monitorType" class="required">Monitor type</label>
            <input type="text" class="form-control" id="monitorType" placeholder="monitor type" required [(ngModel)]="region.algorithm.monitorType" name="monitorType" #monitorType="ngModel">
            <div [hidden]="monitorType.valid || monitorType.pristine"
                    class="field-alert alert-danger">
                Monitor type is required
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="detectionPointFlux" class="required">Event detection point flux threshold</label>
            <input type="number" class="form-control" id="detectionPointFlux" placeholder="EVT_DEC_PF_TH" required [(ngModel)]="region.algorithm.detectionPointFlux" name="detectionPointFlux" #detectionPointFlux="ngModel" pattern="^\d{1,4}(\.\d{1,4})?$">
            <div [hidden]="detectionPointFlux.valid || detectionPointFlux.pristine"
                 class="field-alert alert-danger">
                <div [hidden]="!detectionPointFlux.hasError('required')">Field is required</div>
                <div [hidden]="!detectionPointFlux.hasError('pattern')">Allowed format 9999,9999</div>
            </div>

        </div>
        <div class="form-group col-md-6">
            <label for="detectionWindSpeed" class="required">Event detection wind speed threshold</label>
            <input type="number" class="form-control" id="detectionWindSpeed" placeholder="EVT_DEC_WS_TH" required [(ngModel)]="region.algorithm.detectionWindSpeed" name="detectionWindSpeed" #detectionWindSpeed="ngModel" pattern="^\d{1,4}(\.\d{1,4})?$">
            <div [hidden]="detectionWindSpeed.valid || detectionWindSpeed.pristine"
                 class="field-alert alert-danger">
                <div [hidden]="!detectionWindSpeed.hasError('required')">Field is required</div>
                <div [hidden]="!detectionWindSpeed.hasError('pattern')">Allowed format 9999,9999</div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="timeInterval" class="required">Time interval for thresholds</label>
            <input type="number" class="form-control" id="timeInterval" placeholder="TIME_INTERVAL_FOR_THRESHOLD" required [(ngModel)]="region.algorithm.timeInterval" name="timeInterval" #timeInterval="ngModel" pattern="^\d{1,4}(\.\d{1,4})?$">
            <div [hidden]="timeInterval.valid || timeInterval.pristine"
                 class="field-alert alert-danger">
                <div [hidden]="!timeInterval.hasError('required')">Field is required</div>
                <div [hidden]="!timeInterval.hasError('pattern')">Allowed format 9999,9999</div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="timeResolution" class="required">Time resolution of raw data</label>
            <input type="number" class="form-control" id="timeResolution" placeholder="TIME_RESOLUTION_RAW" required [(ngModel)]="region.algorithm.timeResolution" name="timeResolution" #timeResolution="ngModel" pattern="^\d{1,4}(\.\d{1,4})?$">
            <div [hidden]="timeResolution.valid || timeResolution.pristine"
                 class="field-alert alert-danger">
                <div [hidden]="!timeResolution.hasError('required')">Field is required</div>
                <div [hidden]="!timeResolution.hasError('pattern')">Allowed format 9999,9999</div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="minDataForAverage" class="required">Minimum number of data for average</label>
            <input type="number" class="form-control" id="minDataForAverage" placeholder="MINIMUM_NUMBER_OF_DATA_FOR_AVERAGE" required [(ngModel)]="region.algorithm.minDataForAverage" name="minDataForAverage" #minDataForAverage="ngModel" pattern="^\d{1,4}(\.\d{1,4})?$">
            <div [hidden]="minDataForAverage.valid || minDataForAverage.pristine"
                 class="field-alert alert-danger">
                <div [hidden]="!minDataForAverage.hasError('required')">Field is required</div>
                <div [hidden]="!minDataForAverage.hasError('pattern')">Allowed format 9999,9999</div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="numberLineGroupTime" class="required">Number of line for grouping time</label>
            <input type="number" class="form-control" id="numberLineGroupTime" placeholder="NUMBER_OF_LINE_GROUPING_TIME" required [(ngModel)]="region.algorithm.numberLineGroupTime" name="numberLineGroupTime" #numberLineGroupTime="ngModel" pattern="^\d{1,4}(\.\d{1,4})?$">
            <div [hidden]="numberLineGroupTime.valid || numberLineGroupTime.pristine"
                 class="field-alert alert-danger">
                <div [hidden]="!numberLineGroupTime.hasError('required')">Field is required</div>
                <div [hidden]="!numberLineGroupTime.hasError('pattern')">Allowed format 9999,9999</div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="numberLineGroupWindDirection" class="required">Number of line for grouping wind direction</label>
            <input type="number" class="form-control" id="numberLineGroupWindDirection" placeholder="NUMBER_OF_LINE_GROUPING_WD" required [(ngModel)]="region.algorithm.numberLineGroupWindDirection" name="numberLineGroupWindDirection" #numberLineGroupWindDirection="ngModel" pattern="^\d{1,4}(\.\d{1,4})?$">
            <div [hidden]="numberLineGroupWindDirection.valid || numberLineGroupWindDirection.pristine"
                 class="field-alert alert-danger">
                <div [hidden]="!numberLineGroupWindDirection.hasError('required')">Field is required</div>
                <div [hidden]="!numberLineGroupWindDirection.hasError('pattern')">Allowed format 9999,9999</div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="windSmoothingGroup" class="required">Wind smoothing in group</label>
            <input type="number" class="form-control" id="windSmoothingGroup" placeholder="WD_SMTH_IN_GRP" required [(ngModel)]="region.algorithm.windSmoothingGroup" name="windSmoothingGroup" #windSmoothingGroup="ngModel" pattern="^\d{1,4}(\.\d{1,4})?$">
            <div [hidden]="windSmoothingGroup.valid || windSmoothingGroup.pristine"
                 class="field-alert alert-danger">
                <div [hidden]="!windSmoothingGroup.hasError('required')">Field is required</div>
                <div [hidden]="!windSmoothingGroup.hasError('pattern')">Allowed format 9999,9999</div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="maxRangeBetweenMonitors" class="required">Maximum range between monitors in meters</label>
            <input type="number" class="form-control" id="maxRangeBetweenMonitors" placeholder="MAX_RNG_BTWN_NBR_MTRS" required [(ngModel)]="region.algorithm.maxRangeBetweenMonitors" name="maxRangeBetweenMonitors" #maxRangeBetweenMonitors="ngModel" pattern="^\d{1,4}(\.\d{1,4})?$">
            <div [hidden]="maxRangeBetweenMonitors.valid || maxRangeBetweenMonitors.pristine"
                 class="field-alert alert-danger">
                <div [hidden]="!maxRangeBetweenMonitors.hasError('required')">Field is required</div>
                <div [hidden]="!maxRangeBetweenMonitors.hasError('pattern')">Allowed format 9999,9999</div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="sourceLocationUpdateInterval" class="required">Source location update interval</label>
            <input type="number" class="form-control" id="sourceLocationUpdateInterval" placeholder="SOURCE_LOCATION_UP_DATE_INTERVAL" required [(ngModel)]="region.algorithm.sourceLocationUpdateInterval" name="sourceLocationUpdateInterval" #sourceLocationUpdateInterval="ngModel" pattern="^\d{1,4}(\.\d{1,4})?$">
            <div [hidden]="sourceLocationUpdateInterval.valid || sourceLocationUpdateInterval.pristine"
                 class="field-alert alert-danger">
                <div [hidden]="!sourceLocationUpdateInterval.hasError('required')">Field is required</div>
                <div [hidden]="!sourceLocationUpdateInterval.hasError('pattern')">Allowed format 9999,9999</div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="numbersOfGroupForLinearRegression" class="required">Numbers of groups for linear regression</label>
            <input type="number" class="form-control" id="numbersOfGroupForLinearRegression" placeholder="NUMBER_OF_GROUPS_FOR_LR" required [(ngModel)]="region.algorithm.numbersOfGroupForLinearRegression" name="numbersOfGroupForLinearRegression" #numbersOfGroupForLinearRegression="ngModel" pattern="^\d{1,4}(\.\d{1,4})?$">
            <div [hidden]="numbersOfGroupForLinearRegression.valid || numbersOfGroupForLinearRegression.pristine"
                 class="field-alert alert-danger">
                <div [hidden]="!numbersOfGroupForLinearRegression.hasError('required')">Field is required</div>
                <div [hidden]="!numbersOfGroupForLinearRegression.hasError('pattern')">Allowed format 9999,9999</div>
            </div>
        </div>

        <div class="form-group col-md-6">
        </div>

        <div class="form-group col-md-12">
            <button type="submit" class="btn btn-success" [disabled]="!region.companyId || !f.form.valid || region.coordinates==null || region.coordinates.length < 3">Submit</button>
            <button class="btn btn-default" [routerLink]="['/navmenu/sites']">Cancel</button>
        </div>
    </form>
</div>



