<div class="ui padded grid logo-wrapper">
    <div class="row" style="padding: 0">
        <div *ngFor="let item of uploader.queue" [ngStyle]="class=='column'?{'padding' :'0', 'margin-bottom':'10px'} :{'margin-bottom':'10px'}" class="{{class}}">
            <div *ngIf="!item.isUploading || !item.isSuccess || item.isUploaded">
                <div class="file-input-wrapper">
                    <div class="top-container">
                        <img class="img-preview" src="" isImage={{isImage?isImage:false}} imgPreview [image]="item?item._file:'/assets/images/img_loader.svg'" />
                        <div class="actions">
                            <img src="/assets/images/close.svg" *ngIf="!item.isUploaded" class="{{item.isUploading?'disabled':''}}" title="Remove" (click)="remove(item)" />
                        </div>
                        <div class="file-name" title="{{item?.file?.name}}">
                            {{item?.file?.name}}
                        </div>
                        <div class="file-info">
                            <span>{{transform(item?.file?.size)}}</span>
                            <span *ngIf="item.isUploading">{{item.progress + '%'}}</span>
                        </div>
                        <div *ngIf="item.isUploading" class="file-progress">
                            <div class="file-progress-background">
                                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width':item.progress + '%' }"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding: 0">
        <div class="{{class}}" [ngStyle]="class=='column'?{'padding' :'0'} : ''">
            <label *ngIf="!count || uploader.queue.length<count" for="{{id}}" class="btn btn-info btn-sm">
                {{buttonText?buttonText:'Add new data'}} <i class="glyphicon glyphicon-cloud-upload"></i>
            </label>
            <input type="file" id="{{id}}" style="display:none" ng2FileSelect [uploader]="uploader" (change)="change($event)" placeholder="Upload file" accept="{{types? types:'.xls,.xlsx,.csv'}}" />
            <!--<div *ngIf="shouldShowClientError" class="error-text">{{errorMsg? errorMsg: 'Please choose file'}}</div>-->
            <div *ngIf="shouldShowTypeError" class="error-text">Allowed files types: {{types}}</div>
        </div>
    </div>
</div>
