.file-input-wrapper {
    background-color: #f3f0f0;
    padding: 10px;
    border-radius: 0.28571429rem;
    min-height: 70px;
    margin-bottom: 0px;
    max-width: 275px;
    width: 100%;
}


.top-container {
    height: auto;
    margin-bottom: 0px;
}

.img-preview {
    max-width: 30%;
    height: auto;
    max-height: 50px;
    float: left;
    min-height: 50px;
}

.file-name {
    padding: 0 0 7px 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 400;
    color: #1e242c;
}

.file-info {
    padding: 0px 0 0px 15px;
    display: flex;
    font-size: 13px;
    font-weight: 400;
    color: #1e242c;
    opacity: 0.7
}

.file-info span:nth-child(1) {
    width: 100%;
}

.error-text {
    color: red;
    font-size: 12px;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 400;
    text-align: left;
} 
label.button {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 14px;
    color: #1e242c;
    font-weight: 300;
}
.file-upload{
    margin: 0 0 4px;
}

.file-progress {
    padding: 7px 3px 7px 15px;
    display: flex;
}

.file-progress-background {
    background-color: #d2d3d5;
    border-radius: 4px;
    width: 100%
}

.progress-bar {
    position: relative;
    height: 4px;
    background: #0092e6;
    border-radius: 4px;
}


.error-text {
    color: red;
    font-size: 12px;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 400;
    text-align: left;
    width: 100%
}

.actions {
    padding-left: 10px;
    float: right;
}

.actions img {
    padding: 0 3px;
    height: 7px;
    cursor: pointer;
    vertical-align: top;
}

.actions img:hover {
    opacity: 0.8;
}

.disabled {
    pointer-events: none;
    opacity: 0.2;
}