
:host() {
    .panel-heading {
        padding: 3px 15px;

        > h4 {
            font-size: 15px;
        }
    }

    .panel-body {
        padding-bottom: 0px;
    }

    .panel-text {
        > p {
            > span {
                display: inline-block;
                font-size: 13px;
                width: 35%;

                 &:nth-child(2) {
                     text-align: right;
                     width: calc(62% - 0px);
                 }
            }
        }
    }
}
