<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Leak source</h4>
    <div style="width: 13px; height: 13px; overflow: hidden; position: absolute; right: 12px; top: 10px; z-index: 10000; cursor: pointer; opacity: 0.7;"
      (click)="closeWindow()">
      <img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/mapcnt6.png" draggable="false" style="position: absolute; left: -2px; top: -336px; width: 59px; height: 492px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;">
    </div>
  </div>
  <div class="panel-body">
      <div class="panel-text">
          <p *ngIf="center"><span>Latitude:</span> <span>{{center.latitude.toFixed(6)}}</span></p>
          <p *ngIf="center"><span>Longitude:</span> <span>{{center.longitude.toFixed(6)}}</span></p>
          <p><span>Emission rate:</span> <span>{{getEmissionRate}} lb/hr</span></p>
      </div>    
  </div>
</div>