<legend>{{isEditMode?'Edit':'Add'}} user</legend>

<div>
    <form name="userForm" *ngIf="user" (ngSubmit)="save()" #f="ngForm">
        <div class="form-group col-md-6">
            <label for="name" class="required">Login:</label>
            <input type="text" class="form-control" id="login" placeholder="Login" [disabled]="!!id" required [(ngModel)]="user.login" name="login" #name="ngModel">
            <div [hidden]="name.valid || name.pristine"
                 class="field-alert alert-danger">
                Login is required
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="email" class="required">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Email Address" [disabled]="!!id" required [(ngModel)]="user.email" name="email" #email="ngModel"
                   pattern='^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$'>
            <div [hidden]="email.valid || email.pristine"
                 class="field-alert alert-danger">
                <div [hidden]="!email.hasError('required')">Field is required</div>
                <div [hidden]="!email.hasError('pattern')">Invalid email</div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="name" class="required">First name:</label>
            <input type="text" class="form-control" id="firstname" placeholder="First name" required [(ngModel)]="user.firstName" name="firstName" #name="ngModel">
            <div [hidden]="name.valid || name.pristine"
                 class="field-alert alert-danger">
                Firstname is required
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="name" class="required">Last name:</label>
            <input type="text" class="form-control" id="lastname" placeholder="Last name" required [(ngModel)]="user.lastName" name="lastName" #name="ngModel">
            <div [hidden]="name.valid || name.pristine"
                 class="field-alert alert-danger">
                Lastname is required
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="role">Role:</label>
            <select class="form-control" id="role" [(ngModel)]="user.roleId" name="role" [disabled]="!availableRoles" #name="ngModel">
                <option [value]="undefValue" selected disabled>-- select a user Role --</option>
                <option *ngFor="let role of roles" [value]="role.id">{{role.name}}</option>
            </select>
        </div>
        <div *ngIf="availableCreateEditUser" class="form-group col-md-6">
            <label for="isActive">Status:</label>
            <div class="checkbox">
                <label><input type="checkbox" name="isActive" [(ngModel)]="user.isActive" value="user.isActive" /> Bloked</label>
            </div>
        </div>
        <div *ngIf="availableCreateEditUser" class="form-group col-12 same-height">
            <div class="col-md-4 col">
                <div class="row"><strong class="required">Pages:</strong></div>
                <div class="row block">
                    <div class="checkbox main">
                        <label><input type="checkbox" name="all_pages" (change)="selectAllPages($event.target.checked)" [(ngModel)]="selectAll.uiElementsId" /> Check All</label>
                    </div>
                    <div class="checkbox" *ngFor="let page of uiElementsId">
                        <label><input type="checkbox" name="{{page.name}}" (change)="pageSelect($event.target.value, $event.target.checked)" [(ngModel)]="page.selected" value="{{page.id}}" /> {{page.name}}</label>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col">
                <div class="row"><strong class="required">Companies:</strong></div>
                <div class="row block">
                    <div class="checkbox main">
                        <label><input type="checkbox" name="all_companies" (change)="selectAllCompanies($event.target.checked)" [(ngModel)]="selectAll.companyObjs" /> Check All</label>
                    </div>
                    <div class="checkbox" *ngFor="let company of companyObjs, let i = index">
                        <label><input type="checkbox" name="{{company.name}}" (change)="companySelect($event.target.value, $event.target.checked, i)" [(ngModel)]="company.selected" value="{{company.id}}" /> {{company.name}}</label>
                        <span (click)="showRegions(i, company)" class='glyphicon glyphicon-arrow-right' [class.disabled]="!company.selected"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col" *ngIf="activeCompanyIndex != null && activeCompanyIndex != undefined">
                <div class="row"><strong class="required">Sites:</strong></div>
                <div class="row block" *ngIf="companyObjs[activeCompanyIndex].regions && companyObjs[activeCompanyIndex].regions.length">
                    <div class="checkbox main">
                        <label><input type="checkbox" name="all_regions" (change)="selectAllRegions($event.target.checked, companyObjs[activeCompanyIndex])" [(ngModel)]="selectAll.regions" /> Check All</label>
                    </div>
                    <div class="checkbox" *ngFor="let region of companyObjs[activeCompanyIndex].regions, let i = index">
                        <label><input type="checkbox" (change)="regionSelect($event.target.value, $event.target.checked, companyObjs[activeCompanyIndex])" [(ngModel)]="region.selected" name="{{region.name}}" value="{{region.id}}" /> {{region.name}}</label>
                    </div>
                </div>
                <div class="row block" *ngIf="!companyObjs[activeCompanyIndex].regions || !companyObjs[activeCompanyIndex].regions.length">
                    <p>No Sites for this Company</p>
                </div>
            </div>
        </div>

        <div class="form-group col-md-12">
            <button *ngIf="user && showButton" type="submit" class="btn btn-success" [disabled]="disabledSubmit">Submit</button>
            <input type="button" value="Reset password" *ngIf="isEditMode && isAdmin" class="btn btn-warning" (click)="resetPassword()" /> 
            <button class="btn btn-default" [routerLink]="['/navmenu/users']">Cancel</button>
        </div>
    </form>
    
</div>



