<legend>Users</legend>

<div class="row ">
    <div *ngIf="availableCreateUser" class="col-md-12">
        <div class="date-peacker-rel pull-right">
            <a [routerLink]="['/navmenu/user/add']" class="btn btn-success btn-sm pull-right"><span>Add new user </span><i class="glyphicon glyphicon-plus"></i></a>
        </div>
    </div>
</div>
<div class="vertical-10"></div>

<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Login</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Active</th>
                <th>Role</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <ng-container *ngFor="let user of data;let i=index">
                <tr>
                    <td>{{user.login}}</td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.email}}</td>
                    <td><i class="{{user.isActive ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-remove'}}"></i></td>
                    <td>{{user.roleName}}</td>
                    <td>
                        <a class="btn btn-sm btn-info" title="Edit" [routerLink]="['/navmenu/user/edit', user.id]"><i class="glyphicon glyphicon-edit"></i></a>
                    </td>   
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>



