.ng-valid[required], .ng-valid.required {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442; /* red */
}

.required:after {
    content: " *";
}

.field-alert {
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.short-input {
    width: 30%;
}

.form-group {
    display: flex;
    align-items: center;
}

label {
    margin-right: 10px;
    margin-bottom: 0;
    display: flex;
    align-items: flex-start;
}

form{
    display: flex;
    flex-direction: column;
}

.btn.btn-success,
.btn.btn-warning {
    margin-right: 5px;
}

.block {
    border: 1px solid #cccccc;
    padding: 15px 20PX;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.checkbox{
    padding-left: 30px;
}

.checkbox.main{
    padding-left: 0;
}

.same-height{
    align-items: stretch;
}

.same-height .col{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.col .block{
    flex: 1;
}

.checkbox label{
    display: inline-flex;
}

.disabled{
    pointer-events: none;
    opacity: 0.5;
}