<legend>Companies</legend>

<div class="row ">
    <div class="col-md-12">
        <div class="date-peacker-rel pull-right">
            <a [routerLink]="['/navmenu/company/add']" class="btn btn-success btn-sm pull-right"><span>Add new company </span><i class="glyphicon glyphicon-plus"></i></a>
        </div>
    </div>
</div>
<div class="vertical-10"></div>

<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>WebSite</th>
                <th>Logo</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <ng-container *ngFor="let company of data;let i=index">
                <tr>
                    <td>
                        <span *ngIf="company.regions" class="clickable" data-toggle="collapse"
                              [attr.data-target]="'#' + company.id" (click)="setToggleArr(i)">
                            <i class="glyphicon glyphicon-chevron-right" [class.glyphicon-chevron-down]="toggleArr.includes(i)"></i>
                        </span>
                    </td>
                    <td>{{company.name}}</td>
                    <td>{{company.email}}</td>
                    <td>{{company.phone}}</td>
                    <td>{{company.webSite}}</td>
                    <td *ngIf="company.imageBase64">
                        <img class="media-object" style="height:25px" src={{company.imageBase64}}>
                    </td>
                    <td *ngIf="!company.imageBase64"><i class="glyphicon glyphicon-picture"></i></td>
                    <td>
                        <a class="btn btn-sm btn-info" title="Edit" [routerLink]="['/navmenu/company/edit', company.id]"><i class="glyphicon glyphicon-edit"></i></a>
                        <button class="btn btn-sm btn-danger" title="Delete" (click)="delete(company)"><i class="glyphicon glyphicon-remove"></i></button>
                    </td>
                </tr>
                <tr>
                    <td colspan="7" class="zeroPadding">
                        <div class="accordion-body collapse" id="{{company.id}}">
                        
                        <!--regions-->
                            <table *ngIf="company.regions" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Latitude</th>
                                        <th>Longitude</th>
                                        <th>Zoom</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <ng-container *ngFor="let region of company.regions">
                                        <tr>
                                            <td>{{region.name}}</td>
                                            <td>{{region.latitude}}</td>
                                            <td>{{region.longitude}}</td>
                                            <td>{{region.zoom}}</td>
                                            <td>
                                                <a class="btn btn-sm btn-info" title="Edit" [routerLink]="['/navmenu/site/edit', region.id]"><i class="glyphicon glyphicon-edit"></i></a>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>                        
                        
                            <!--/ regions-->
                        </div>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>



