.clickable {
    cursor: pointer;
}

.zeroPadding {
    padding: 0 !important;
}

.vertical-10 {
    width: 100%;
    height: 10px;
}

.date-peacker {
    display: inline-flex;
}

.date-peacker label {
    line-height: 30px;
    padding-right: 5px;
}

.date-peacker-rel {
    display: inline-block;
}

.date-peacker-rel.offset-right {
    margin-right: 30px;
}