.ng-valid[required], .ng-valid.required {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442; /* red */
}

.required:after {
    content: " *";
}

.field-alert {
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.short-input {
    width: 30%;
}

.block{
    border: 1px solid black;
    padding: 10px;
}
.checkbox{
    padding-left: 30px;
}
.checkbox.main{
    padding-left: 0;
}
.same-height{
    align-items: stretch;
}
.same-height .col{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.checkbox label{
    display: inline-flex;
}

.disabled{
    pointer-events: none;
    opacity: 0.5;
}

.m-t-b-20{
    margin: 20px 0;
}

.btn.btn-success {
    margin-right: 5px;
}

.align-right {
    text-align: right;
}

.logo-wrapper {
    margin-left: 15px;
}

.upload-btn {
    margin-left: 15px !important;
}

.logo-preview {
    display: table;
    background-color: #dddddd;
    padding: 7px;
    border-radius: 3px;
}

.logo-preview img {
    height: 80px;
}

.actions {
    float: right;
}

.actions img {
    padding: 0 3px;
    height: 7px;
    cursor: pointer;
    vertical-align: top;
}