<legend>{{isEditMode?'Edit':'Add'}} company</legend>

<div>
    <form name="companyForm" *ngIf="company" (ngSubmit)="save()" #f="ngForm">
        <div class="col-md-6">
            <div class="form-group">
                <label for="name" class="required">Name:</label>
                <input type="text" class="form-control" id="name" placeholder="Name" required [(ngModel)]="company.name" name="name" #name="ngModel">
                <div [hidden]="name.valid || name.pristine"
                     class="field-alert alert-danger">
                    Name is required
                </div>
            </div>

            <div class="form-group">
                <label for="email" class="required">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Email Address" required [(ngModel)]="company.email" name="email" #email="ngModel"
                       pattern='^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$'>
                <div [hidden]="email.valid || email.pristine"
                     class="field-alert alert-danger">
                    <div [hidden]="!email.hasError('required')">Field is required</div>
                    <div [hidden]="!email.hasError('pattern')">Invalid email</div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="phone" class="required">Phone</label>
                <input type="tel" class="form-control" id="phone" placeholder="phone" required [(ngModel)]="company.phone" name="phone" #phone="ngModel">
                <div [hidden]="phone.valid || phone.pristine"
                     class="field-alert alert-danger">
                    Phone is required
                </div>
            </div>
            <div class="form-group">
                <label for="webSite" class="required">WebSite:</label>
                <input type="text" class="form-control" id="webSite" placeholder="WebSite" required [(ngModel)]="company.webSite" name="webSite" #webSite="ngModel">
                <div [hidden]="webSite.valid || webSite.pristine"
                     class="field-alert alert-danger">
                    Website is required
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">              
                <div class="form-group">
                    <label>Logo:</label>
                    <div [hidden]="showLogo" class="upload-btn">
                        <file-input [types]="'.jpg,.jpeg,.png,.bmp'" [errorMsg]="'Please select file'" [count]="1" [buttonText]="'Add new image'" [fieldIsValid]="formGroup.file" isImage="true" ([inputValue])="dataFile" (inputValueChange)="dataFile=$event"></file-input>
                    </div>
                    <div class="logo-preview" *ngIf="showLogo">
                        <img src="{{this.company.imageBase64}}" />
                        <div class="actions">
                            <img src="/assets/images/close.svg" title="Remove" (click)="removeLogo()" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group align-right">
                <a class="btn btn-success"  [href]="this.isEditMode ? '/navmenu/site/add;companyId=' + this.company.id : '/navmenu/site/add'" target="_blank">Add new Site</a>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Login</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>WebSite</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th>Zoom</th>
                            <th>Monitors</th>
                            <th></th>
                        </tr>
                    </thead>

                    <h3 *ngIf="this.company.regions.length == 0">No results</h3>

                    <tbody>
                        <ng-container *ngFor="let region of company.regions;let i=index">

                            <tr>
                                <td>{{region.name}}</td>
                                <td>{{region.phone}}</td>
                                <td>{{region.email}}</td>
                                <td>{{region.webSite}}</td>
                                <td>{{region.latitude}}</td>
                                <td>{{region.longitude}}</td>
                                <td>{{region.zoom}}</td>
                                <td>{{region.sensors.length}}</td>
                                <td>
                                    <a class="btn btn-sm btn-info" title="Edit" (click)="editRegion(region.id)"><i class="glyphicon glyphicon-edit"></i></a>
                                    <button class="btn btn-sm btn-danger" title="Delete" (click)="deleteRegion(region)"><i class="glyphicon glyphicon-remove"></i></button>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
            <div class="form-group col-md-12 m-t-b-20">
                <button *ngIf="company && showButton" type="submit" class="btn btn-success" [disabled]="disabledSubmit">Submit</button>
                <button class="btn btn-default" [routerLink]="['/navmenu/companies']">Cancel</button>
            </div>

        </div>
    </form>
</div>