li .glyphicon {
    margin-right: 10px;
}

/* Highlighting rules for nav menu items */
li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
    background-color: #4189C7;
    color: white;
}
.navbar-nav a:hover {
    cursor: pointer;
}
/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.navbar-inverse {
    background-image: url('/assets/images/bg-fon.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
    background-size: cover;
    background-blend-mode: overlay;
}

@media (min-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
    .main-nav {
        height: 100%;
        width: calc(15% - 20px);
    }
    .navbar {
        border-right: solid 3px #e3e2ec;
        border-radius: 0px;
        height: 100%;
    }
    .navbar-header {
        float: none;
    }
    .navbar-collapse {
        border-top: 1px solid #444;
        padding: 0px;
    }
    .navbar ul {
        float: none;
    }
    .navbar li {
        float: none;
        font-size: 15px;
        margin: 6px;
    }
    .navbar li a {
        padding: 10px 16px;
        border-radius: 4px;
    }
    .navbar a {
        /* If a menu item's text is too long, truncate it */
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .nav-title {
        line-height:30px;
    }
    .navbar-brand img {
        width: 30px;
        float:left;
        margin-right:10px;
    }
}

.user-login-wrapper {
    display: flex;
    font-size: 12px !important;
}

.user-login-wrapper a {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
}

.user-login {
    color: #fff;
    padding: 12px 0 0 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
}

.user-login-glyphicon {
    margin-right: 5px!important;
    top: 3px!important;
}

.top-logos-wrapper {
    margin-bottom: 5px;
    padding: 10px;

    .logo-container {
        width: 100%;
    }

    @media (max-width: 767px) {
        .logo-row {
            position: relative;
            margin-top: -50px;
        }
    }
}

.logo-row {
    /*height: 70px;*/
    font-size: 14px;
    color: #ffffff;
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    flex-direction: row;
}

.top-logos-wrapper img, .bottom-logos-wrapper img {
    max-width: 100%;
    max-height: 150px;
    margin: auto;
    display: block;
    
}

.top-logos-wrapper .company-title, .bottom-logos-wrapper .company-title {
    width: 100%;
    display: flex;
}

.top-logos-wrapper .company-title {
    border-top: solid 1px white;
    margin-top: 5px;
}

.top-logos-wrapper .company-title span, .bottom-logos-wrapper .company-title span {
    text-align: center;
    width: 100%;
}
.company-title-bottom {
    margin-top: 5px;
}
.bottom-logos-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media (max-width: 767px) {
    .bottom-logos-wrapper {
        display: none;
        position: relative;
    }

    .navbar-collapse.collapse.in {
        + .bottom-logos-wrapper {
            display: block;
        }
    }
}

.img-logo {
    height: 50px;
    width: auto;
    max-height: 100%;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Safari */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  supported by Chrome and Opera  */
}