<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-2'>
            <div class='main-nav'>
                <div class='navbar navbar-inverse noselect'>
                    <!--<div class='navbar-header'>
                        <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                        <span class='sr-only'>Toggle navigation</span>
                        <span class='icon-bar'></span>
                        <span class='icon-bar'></span>
                        <span class='icon-bar'></span>
                        </button>
                        <a class='navbar-brand' [routerLink]="['/navmenu/home']">
                        <img src="/assets/images/logo.png" />
                        <div class="nav-title"><span style="color:#ff2222">G</span>as <span style="color:#4caf50">M</span>onitor</div>
                        </a>
                    </div>-->
                    <div class='navbar-header'>
                        <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                            <span class='sr-only'>Toggle navigation</span>
                            <span class='icon-bar'></span>
                            <span class='icon-bar'></span>
                            <span class='icon-bar'></span>
                        </button>
                    </div>
                    
                    <div class="top-logos-wrapper">
                        <ng-container *ngIf="isRelatedToDefaultCompany; then defaultTpl; else logosTpl">
                        </ng-container>
                    </div>

                    <ng-template #defaultTpl>
                        <div class="logo-row">
                            <div class="logo-container a">
                                <img src={{defaultlogo.logo}} />
                            </div>
                            <div class="company-title"><span>{{defaultlogo.name}}</span></div>
                        </div>
                    </ng-template>

                    <ng-template #logosTpl>
                        <div class="logo-row" *ngFor="let logo of logos">
                            <div class="logo-container b">
                                <img class="img-logo" src={{logo.logo}} />
                            </div>
                            <div class="company-title"><span>{{logo.name}}</span></div>
                        </div>
                    </ng-template>

                    <div class='navbar-collapse collapse'>
                        <ul class='nav navbar-nav'>
                            <li class="user-login-wrapper" [routerLinkActive]="['link-active']">
                                <span class="user-login">Hello, {{userLogin}}</span>
                                <a (click)="logout()">
                                    <span class='glyphicon glyphicon-log-out user-login-glyphicon'></span> Log out
                                </a>
                            </li>
                            <li *ngIf="canShow('Dashboard')" [routerLinkActive]="['link-active']">
                                <a [routerLink]="['/navmenu/home']">
                                    <span class='glyphicon glyphicon-equalizer'></span> Dashboard
                                </a>
                            </li>
                            <li *ngIf="canShow('Map')" [routerLinkActive]="['link-active']">
                                <a [routerLink]="['/navmenu/map']">
                                    <span class='glyphicon glyphicon-map-marker'></span> Map
                                </a>
                            </li>
                            <li *ngIf="canShow('Companies')" [routerLinkActive]="['link-active']">
                                <a [routerLink]="['/navmenu/companies']">
                                    <span class='glyphicon glyphicon-th-list'></span> Companies
                                </a>
                            </li>
                            <li *ngIf="canShow('Sites')" [routerLinkActive]="['link-active']">
                                <a [routerLink]="['/navmenu/sites']">
                                    <span class='glyphicon glyphicon-globe'></span> Sites
                                </a>
                            </li>
                            <li *ngIf="canShow('Monitors')" [routerLinkActive]="['link-active']">
                                <a [routerLink]="['/navmenu/monitors']">
                                    <span class='glyphicon glyphicon-signal'></span> Monitors
                                </a>
                            </li>
                            <li *ngIf="canShow('Users')" [routerLinkActive]="['link-active']">
                                <a [routerLink]="['/navmenu/users']">
                                    <span class='glyphicon glyphicon-user'></span> Users
                                </a>
                            </li>
                            <li *ngIf="canShow('Leak')" [routerLinkActive]="['link-active']">
                                <a [routerLink]="['/navmenu/leak']">
                                    <span #eventIcon class='glyphicon glyphicon-fire'></span> Leak events
                                </a>
                            </li>

                            <li *ngIf="canShow('Tests')" [routerLinkActive]="['link-active']">
                                <a [routerLink]="['/navmenu/tests']">
                                    <span class='glyphicon glyphicon-flash'></span> Tests
                                </a>
                            </li>
                            <li *ngIf="canShow('Developer')" [routerLinkActive]="['link-active']">
                                <a [routerLink]="['/navmenu/developer']">
                                    <span class='glyphicon glyphicon-flash'></span> Developer Test
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div [hidden]="isLoading" *ngIf="!isRelatedToDefaultCompany" class="bottom-logos-wrapper">
                        <div class="logo-row">
                            <img src={{defaultlogo?.logo}} />
                            <div class="company-title company-title-bottom"><span>Developed by Montrose &copy; 2018 </span></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class='col-sm-10 body-content'>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>



