<div class="panel panel-default">
  <div class="panel-heading">
    <h4>{{name}} - Monitor {{sensor}}</h4>
    <!-- Taked from info window -->
    <div style="width: 13px; height: 13px; overflow: hidden; position: absolute; right: 12px; top: 10px; z-index: 10000; cursor: pointer; opacity: 0.7;"
      (click)="closeWindow()">
      <img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/mapcnt6.png" draggable="false" style="position: absolute; left: -2px; top: -336px; width: 59px; height: 492px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;">
    </div>
  </div>
  <div class="panel-body">
      <div class="panel-text">
          <p><span>Concentration:</span> <span>{{concentration.toFixed(1)}}</span></p>
          <p><span>Wind speed:</span> <span>{{windSpeed.toFixed(1)}}</span></p>
          <p><span>Wind direction:</span> <span>{{windDirection.toFixed(0)}}</span></p>
          <p><span>New Max PF :</span> <span>{{newMaxPF.toFixed(1)}}</span></p>
          <p><span>New PF:</span> <span>{{maxPFPoint.toFixed(1)}}</span></p>
      </div>    
  </div>
</div>