<legend>Test page</legend>

<div id="exTab2">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#1" data-toggle="tab">Moving average method (TMP)</a>
        </li>
        <li>
            <a href="#2" data-toggle="tab">Moving average method (WD)</a>
        </li>
        <li>
            <a href="#3" data-toggle="tab" (click)="testLinearRegression()">Linear regression calibration</a>
        </li>
        <li *ngIf="true">
            <a href="#4" data-toggle="tab" (click)="testSensorEllipse()">Monitor ellipse</a>
        </li>
        <li>
            <a href="#5" data-toggle="tab" (click)="loadInitialCenterOfMass()">Lines intersections</a>
        </li>
    </ul>
    
    <div id="tab-container" class="tab-content">
        <div class="tab-pane active" id="1">
            <!--test tmp_buffer and MOVING_Average_METHOD-->
            <br />
            <Legend>Moving average method (TMP)</Legend>
            <div class="pinnedPanel" [ngClass]="{'fixed':pinPanel}">
                <div class="clickable settings" style="cursor: pointer" data-toggle="collapse" [attr.data-target]="'#settings'" (click)="isToggledPinPanel = !isToggledPinPanel">
                    <span>
                        <i [ngClass]="!isToggledPinPanel ? 'glyphicon glyphicon-chevron-down': 'glyphicon glyphicon-chevron-right'"></i>
                    </span>
                    <strong>
                        Settings
                        <i class="glyphicon glyphicon-cog"></i>
                    </strong>
                    <span class="total-title">
                        Total monitor (Id={{sensors[monitorTabIndex]?sensors[monitorTabIndex].monitorId:'loading...'}}) results: <b>{{sensorResultsSource[monitorTabIndex]?sensorResultsSource[monitorTabIndex].length:'loading...'}}</b>
                    </span>
                </div>
                <div id="settings" class="row accordion-body" *ngIf="!isToggledPinPanel">
                    <div class="col-md-4">
                        <div class="checkbox">
                            <label><input type="checkbox" name="sourceFromFile" [disabled]="true" [(ngModel)]="sourceFromFile" value="sourceFromFile" />Load results from file</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" name="clearChart" [(ngModel)]="clearChart" value="clearChart" />Clear Chart</label>
                            <label><input type="checkbox" name="isBuildChart" [(ngModel)]="isBuildChart" value="isBuildChart" />Draw chart</label>
                            <label><input type="checkbox" name="isBuildIntersection" [(ngModel)]="isBuildIntersection" value="isBuildIntersection" />Draw intersection</label>
                        </div>
                        <p *ngIf="sensors[0]">
                            <span>PF_Max 1001: </span><input style="width:40px" type="number" [(ngModel)]="sensors[0].detectionPointFluxMax" />
                            <span>PF_Min 1001: </span><input style="width:40px" type="number" [(ngModel)]="sensors[0].detectionPointFluxMin" />
                        </p>
                        <p *ngIf="sensors[1]">
                            <span>PF_Max 1002: </span><input style="width:40px" type="number" [(ngModel)]="sensors[1].detectionPointFluxMax" />
                            <span>PF_Min 1002: </span><input style="width:40px" type="number" [(ngModel)]="sensors[1].detectionPointFluxMin" />
                        </p>
                    </div>
                    <div class="col-md-4">
                        <div class="checkbox">
                            <label><input type="checkbox" name="doTransformWind" [(ngModel)]="doTransformWind" value="doTransformWind" />Filter TWD for RL [-180<=TWD], [180 >= TWD]</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" name="isNegativeA" [(ngModel)]="isNegativeA" value="isNegativeA" />Correct A (set negative)</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="checkbox">
                            <label><input type="checkbox" name="isFminSearchMethod" [(ngModel)]="isFminSearchMethod" value="isFminSearchMethod" />Show Gaussian fit by fminsearch</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" name="isPolyfitMethod" [(ngModel)]="isPolyfitMethod" value="isPolyfitMethod" />Show Gaussian fit by polyfit</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p>
                            <label>Number of groups:</label>
                            <input type="number" [(ngModel)]="groupsCount" />
                        </p>
                        <p>
                            <label>Number of new results:</label>
                            <input type="number" [(ngModel)]="minNewResultsCount" />
                        </p>
                        <div class="checkbox">
                            <label><input type="checkbox" name="pinPanel" [(ngModel)]="pinPanel" value="pinPanel" (click)="pinPanelClick(pinPanel)" />Pin panel to top</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" name="calculateWhenLeak" [(ngModel)]="calculateWhenLeak" value="calculateWhenLeak" />Accumulate and calculate when the Leak Event is absent</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <p>
                            <input style="width:60px" type="number" [(ngModel)]="skipCount" />
                            <input style="width:60px" type="number" [(ngModel)]="newResultsCount" />
                            <button class="btn btn-default" [disabled]="!sensorResultsSource[0] || (main_Buffers[0].newResults && main_Buffers[0].newResults[0] && main_Buffers[0].newResults.length >= minNewResultsCount)" (click)="addNewResults()">Add new results</button>
                        </p>
                        <button class="btn btn-info" [disabled]="!(main_Buffers[0] && (main_Buffers[0].newResults && main_Buffers[0].newResults[0] || main_Buffers[0].sensorResults && main_Buffers[0].sensorResults[0]))" (click)="runComplexTest()">{{main_Buffers[0] && main_Buffers[0].sensorResults && main_Buffers[0].sensorResults.length < minimumNumberDataForAverage ? 'Add to Main buffer' : 'Run Moving Average Method'}}</button>
                        <span>Step: <b>{{sensors[monitorTabIndex]?sensors[monitorTabIndex].step:0}}</b></span>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-danger" (click)="removeMonitorsResults()">Remove all monitors data from DB</button>
                        <p></p>
                        <button class="btn" (click)="refreshResults()"><i class="glyphicon glyphicon-refresh"></i> Refresh</button>
                        <button class="btn" (click)="generateFile()" [disabled]="!(main_Buffers[0] && main_Buffers[0].sensorResults && main_Buffers[0].sensorResults[0])"><i class="glyphicon glyphicon-file"></i> Generate results file</button>
                        <p>
                            <a class="btn" *ngIf="downloadLink" href="{{downloadLink}}"><i class="glyphicon glyphicon-file"></i> Download file</a>
                        </p>
                    </div>
                </div>
                <!--timer panel-->
                <div class="row timer-panel">
                    <div class="col-xs-12 col-md-8">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" (click)="setMonitorTabIndex(0)">
                                    <label [ngClass]="{'btn-danger leak-alert' : this.sensors[0] && this.sensors[0].isLeak}">First monitor (1001) {{this.sensors[0] && this.sensors[0].isLeak ? 'Leak' : ''}}</label>
                                    <span #eventIcon_1001 class='glyphicon glyphicon-fire fire-event'></span>
                                    <ng-container *ngIf="main_Buffers[0] && main_Buffers[0].newResults[main_Buffers[0].newResults.length - 1] else container1001">
                                        <br /> <span>{{main_Buffers[0].newResults[main_Buffers[0].newResults.length - 1].timeEnd}}</span>
                                    </ng-container>
                                    <ng-template #container1001>
                                        <br /> <span>-- : -- : --</span>
                                    </ng-template>
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" (click)="setMonitorTabIndex(1)">
                                    <label [ngClass]="{'btn-danger leak-alert' : this.sensors[1] && this.sensors[1].isLeak}">Second monitor (1002) {{this.sensors[1] && this.sensors[1].isLeak ? 'Leak' : ''}}</label>
                                    <span #eventIcon_1002 class='glyphicon glyphicon-fire fire-event'></span>
                                    <ng-container *ngIf="main_Buffers[1] && main_Buffers[1].newResults[main_Buffers[1].newResults.length - 1] else container1002">
                                        <br /> <span>{{main_Buffers[1].newResults[main_Buffers[1].newResults.length - 1].timeEnd}}</span>
                                    </ng-container>
                                    <ng-template #container1002>
                                        <br /> <span>-- : -- : --</span>
                                    </ng-template>
                                </a>
                            </li>
                            <li>
                                <p>Current date: {{currentDate | date : 'dd-MM-yyyy HH:mm:ss'}}</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <!--Pause-->
                        <button class="btn" [ngClass]="{'btn-success':activeButton == 4, 'btn-default':activeButton != 4}" (click)="stopTimer()"><i class="glyphicon glyphicon-pause"></i></button>
                        <!--Play forward Time-->
                        <button class="btn" [ngClass]="{'btn-success':activeButton == 6, 'btn-default':activeButton != 6}" (click)="setTimeStep(6, 1000, 1); activeButton = 6"><i class="glyphicon glyphicon-triangle-right"></i><span *ngIf="activeButton == 6" class="time-step">{{timeStep}}</span></button>
                        <button class="btn" [ngClass]="{'btn-success':activeButton == 7, 'btn-default':activeButton != 7}" (click)="setTimeStep(7, 500, 1); activeButton = 7"><i class="glyphicon glyphicon-forward"></i><span *ngIf="activeButton == 7" class="time-step">{{timeStep}}</span></button>
                        <button class="btn" [ngClass]="{'btn-success':activeButton == 8, 'btn-default':activeButton != 8}" (click)="setTimeStep(8, 200, 1); activeButton = 8"><i class="glyphicon glyphicon-forward"></i><i class="glyphicon glyphicon-forward"></i><span *ngIf="activeButton == 8" class="time-step">{{timeStep}}</span></button>
                        <span>Stop on step: </span> <input style="width:60px" type="number" [(ngModel)]="stopStepNumber" />
                    </div>
                </div>
                <!--/timer panel-->
                <div *ngIf="sensors[monitorTabIndex] && main_Buffers[monitorTabIndex] && main_Buffers[monitorTabIndex].sensorResults[0]">
                    <table class="table table-striped no_padding">
                        <thead>
                            <tr class="text-center">
                                <th>PF2_Average,</th>
                                <th>(PF1_Average</th>
                                <th>>=</th>
                                <th>PF_Max</th>
                                <th>||</th>
                                <th>(PF1_Average</th>
                                <th>>=</th>
                                <th>PF_Min</th>
                                <th>&&</th>
                                <th>isLeak)</th>
                                <th>&&</th>
                                <th>TWD_MIN</th>
                                <th><</th>
                                <th>TWD_AVERAGE</th>
                                <th><</th>
                                <th>TWD_MAX</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center">
                                <td>{{sensors[monitorTabIndex].PF2_Average}}</td>
                                <td>{{sensors[monitorTabIndex].PF1_Average}}</td>
                                <td></td>
                                <td>{{sensors[monitorTabIndex].detectionPointFluxMax}}</td>
                                <td></td>
                                <td>{{sensors[monitorTabIndex].PF1_Average}}</td>
                                <td></td>
                                <td>{{sensors[monitorTabIndex].detectionPointFluxMin}}</td>
                                <td></td>
                                <td>{{sensors[monitorTabIndex].isLeak}}</td>
                                <td></td>
                                <td>{{sensors[monitorTabIndex].onsiteWindMin}}</td>
                                <td></td>
                                <td>{{sensors[monitorTabIndex].WD_Average | floatValuePipe: 4}}</td>
                                <td></td>
                                <td>{{sensors[monitorTabIndex].onsiteWindMax}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--/test tmp_buffer and MOVING_Average_METHOD-->
            <br />
            <!--Gaussian fit chart-->
            <legend>
                Gaussian fit
            </legend>
            <div class="row" [hidden]="!isBuildChart || !chartData[0]">
                <div class="col-md-12">
                    <label>min i:</label>
                    <input type="number" [(ngModel)]="minI" />
                    <label>min i:</label>
                    <input type="number" [(ngModel)]="maxI" />

                    <div id="chartdiv"></div>

                    <ng-container *ngIf="sensors && sensors[0] && sensors[0].solution && sensors[0].solution.average">
                        <p class="text">
                            <span>1001 (fminsearch): </span>
                            A = <span class="badge">{{sensors[0].solution.average.fminsearch.a}}</span>
                            Mu = <span class="badge">{{sensors[0].solution.average.fminsearch.mu}}</span>
                            Sigma = <span class="badge">{{sensors[0].solution.average.fminsearch.sigma}}</span>
                        </p>
                        <p class="text">
                            <span>1001 (polyfit): </span>
                            A = <span class="badge">{{sensors[0].solution.average.polyfit.a}}</span>
                            Mu = <span class="badge">{{sensors[0].solution.average.polyfit.mu}}</span>
                            Sigma = <span class="badge">{{sensors[0].solution.average.polyfit.sigma}}</span>
                        </p>
                        <br />
                    </ng-container>
                    <ng-container *ngIf="sensors && sensors[1] && sensors[1].solution && sensors[1].solution.average">
                        <p class="text">
                            <span>1002 (polyfit): </span>
                            A = <span class="badge">{{sensors[1].solution.average.polyfit.a}}</span>
                            Mu = <span class="badge">{{sensors[1].solution.average.polyfit.mu}}</span>
                            Sigma = <span class="badge">{{sensors[1].solution.average.polyfit.sigma}}</span>
                        </p>
                        <p class="text">
                            <span>1002 (fminsearch): </span>
                            A = <span class="badge">{{sensors[1].solution.average.fminsearch.a}}</span>
                            Mu = <span class="badge">{{sensors[1].solution.average.fminsearch.mu}}</span>
                            Sigma = <span class="badge">{{sensors[1].solution.average.fminsearch.sigma}}</span>
                        </p>
                    </ng-container>
                </div>
                <hr />
            </div>
            <!--Gaussian fit chart-->
            <!--Intersection-->
            <div class="row" [hidden]="!isBuildIntersection || !linesChartData[0]">
                <div class="col-md-12">
                    <legend>
                        Lines intersection
                    </legend>
                    <div class="table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>x</th>
                                    <th>y</th>
                                    <th>alfa 1</th>
                                    <th>alfa 2</th>
                                    <th>average alfa</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngIf="sensors && sensors[0] && sensors.length > 0">
                                    <tr>
                                        <td>Monitor 1001</td>
                                        <td><input type="number" [(ngModel)]="sensors[0].x" (change)="calculateMainIntersections()" /></td>
                                        <td><input type="number" [(ngModel)]="sensors[0].y" (change)="calculateMainIntersections()" /></td>
                                        <td><input type="number" [(ngModel)]="sensors[0].a1" (change)="calculateMainIntersections()" /></td>
                                        <td><input type="number" [(ngModel)]="sensors[0].a2" (change)="calculateMainIntersections()" /></td>
                                        <td><input type="number" [(ngModel)]="sensors[0].a_average" (change)="calculateMainIntersections()" /></td>
                                    </tr>
                                    <tr>
                                        <td>Monitor 1002</td>
                                        <td><input type="number" [(ngModel)]="sensors[1].x" (change)="calculateMainIntersections()" /></td>
                                        <td><input type="number" [(ngModel)]="sensors[1].y" (change)="calculateMainIntersections()" /></td>
                                        <td><input type="number" [(ngModel)]="sensors[1].a1" (change)="calculateMainIntersections()" /></td>
                                        <td><input type="number" [(ngModel)]="sensors[1].a2" (change)="calculateMainIntersections()" /></td>
                                        <td><input type="number" [(ngModel)]="sensors[1].a_average" (change)="calculateMainIntersections()" /></td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">rayY: <input type="number" [(ngModel)]="rayY" (change)="calculateMainIntersections()" /></td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                    <hr />
                    <div id="chartIntersect"></div>
                </div>
                <hr />
            </div>
            <!--Intersection-->

            <a class="btn btn-default scroller-top" scrollTo href="#tab-container"><i class="glyphicon glyphicon-menu-up"></i></a>
            <a class="btn btn-default scroller-down" scrollTo href="#down-point"><i class="glyphicon glyphicon-menu-down"></i></a>

            <!--Monitor results-->
            <br />
            <div class="row">
                <div class="col-md-12">
                    <legend>Monitor results ({{main_Buffers[monitorTabIndex] && main_Buffers[monitorTabIndex].sensorResults ? main_Buffers[monitorTabIndex].sensorResults.length : 0}}):</legend>
                    <div class="table-responsive">
                        <table class="table table-hover table-striped no_v_padding">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>timeBegin</th>
                                    <th>timeEnd</th>
                                    <th>concentration</th>
                                    <th>windDirection</th>
                                    <th>windSpeed</th>
                                    <th>TWD</th>
                                    <th>PF</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngIf="main_Buffers[monitorTabIndex] && main_Buffers[monitorTabIndex].sensorResults">
                                    <tr *ngFor="let sensorResult of main_Buffers[monitorTabIndex].sensorResults; let i = index">
                                        <td>{{i + 1}}</td>
                                        <td>{{sensorResult.timeBegin | date : 'dd-MM-yyyy HH:mm:ss'}}</td>
                                        <td>{{sensorResult.timeEnd | date : 'dd-MM-yyyy HH:mm:ss'}}</td>
                                        <td>{{sensorResult.concentration}}</td>
                                        <td>{{sensorResult.windDirection}}</td>
                                        <td>{{sensorResult.windSpeed}}</td>
                                        <td><b>{{sensorResult.TWD | floatValuePipe: 4}}</b></td>
                                        <td><b>{{sensorResult.PF | floatValuePipe: 4}}</b></td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--Monitor results-->
            <!--New monitor results-->
            <div class="row">
                <div class="col-md-12">
                    <legend>New Monitor results ({{main_Buffers[monitorTabIndex] && main_Buffers[monitorTabIndex].newResults ? main_Buffers[monitorTabIndex].newResults.length : 0}}):</legend>
                    <div class="table-responsive">
                        <table class="table table-hover table-striped no_v_padding">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>timeBegin</th>
                                    <th>timeEnd</th>
                                    <th>concentration</th>
                                    <th>windDirection</th>
                                    <th>windSpeed</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngIf="main_Buffers[monitorTabIndex] && main_Buffers[monitorTabIndex].newResults">
                                    <tr *ngFor="let sensorResult of main_Buffers[monitorTabIndex].newResults; let i = index">
                                        <td>{{i + 1}}</td>
                                        <td>{{sensorResult.timeBegin | date : 'dd-MM-yyyy HH:mm:ss'}}</td>
                                        <td>{{sensorResult.timeEnd | date : 'dd-MM-yyyy HH:mm:ss'}}</td>
                                        <td>{{sensorResult.concentration}}</td>
                                        <td>{{sensorResult.windDirection}}</td>
                                        <td>{{sensorResult.windSpeed}}</td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--New monitor results-->
            <!--TEMP-->
            <div class="row">
                <div class="col-md-12">
                    <legend>Temporal results (Smoothed) ({{main_Buffers[monitorTabIndex] && main_Buffers[monitorTabIndex].tmp_buffer && main_Buffers[monitorTabIndex].tmp_buffer.AverageData ? main_Buffers[monitorTabIndex].tmp_buffer.AverageData.length : 0}}):</legend>
                    <div class="table-responsive">
                        <table class="table table-hover table-striped no_v_padding">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>TWD_Average</th>
                                    <th>PF_Average</th>
                                    <th>#</th>
                                    <th>TWD_Average</th>
                                    <th>PF_Average</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngIf="main_Buffers[monitorTabIndex] && main_Buffers[monitorTabIndex].tmp_buffer && main_Buffers[monitorTabIndex].tmp_buffer.AverageData">
                                    <tr *ngFor="let average of main_Buffers[monitorTabIndex].tmp_buffer.AverageData; let i = index">
                                        <ng-container *ngIf="(main_Buffers[monitorTabIndex].tmp_buffer.AverageData.length/2 | floatValuePipe: 0) > i">
                                            <td>{{i + 1}}</td>
                                            <td>{{average.TWD_Average | floatValuePipe: 4}}</td>
                                            <td>{{average.PF_Average | floatValuePipe: 4}}</td>
                                            <ng-container *ngIf="main_Buffers[monitorTabIndex].tmp_buffer.AverageData[[(main_Buffers[monitorTabIndex].tmp_buffer.AverageData.length/2 | floatValuePipe: 0) + i]]">
                                                <td>{{(main_Buffers[monitorTabIndex].tmp_buffer.AverageData.length/2 | floatValuePipe: 0) +(i + 1) }}</td>
                                                <td>{{main_Buffers[monitorTabIndex].tmp_buffer.AverageData[(main_Buffers[monitorTabIndex].tmp_buffer.AverageData.length/2 | floatValuePipe: 0) + i].TWD_Average | floatValuePipe: 4}}</td>
                                                <td>{{main_Buffers[monitorTabIndex].tmp_buffer.AverageData[[(main_Buffers[monitorTabIndex].tmp_buffer.AverageData.length/2 | floatValuePipe: 0) + i]].PF_Average | floatValuePipe: 4}}</td>
                                            </ng-container>
                                        </ng-container>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--TEMP-->
            <!--TEMP Groupes-->
            <div class="row">
                <div class="col-md-12">
                    <legend>Groups results ({{main_Buffers[monitorTabIndex] && main_Buffers[monitorTabIndex].tmp_buffer && main_Buffers[monitorTabIndex].tmp_buffer.GroupTMP ? main_Buffers[monitorTabIndex].tmp_buffer.GroupTMP.length : 0}}):</legend>
                    <div class="table-responsive">
                        <table class="table table-hover table-striped no_v_padding">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>AverageData</th>
                                    <th>LR_Result</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngIf="main_Buffers[monitorTabIndex] && main_Buffers[monitorTabIndex].tmp_buffer && main_Buffers[monitorTabIndex].tmp_buffer.GroupTMP">
                                    <tr *ngFor="let grAverage of main_Buffers[monitorTabIndex].tmp_buffer.GroupTMP; let i = index">
                                        <td>{{i + 1}}</td>
                                        <td>
                                            <!--Linear regression results-->
                                            <ng-container *ngIf="grAverage.AverageData">
                                                <table class="table table-hover table-striped no_v_padding">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>TWD_Average</th>
                                                            <th>PF_Average</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let grAverageTMP of grAverage.AverageData; let i = index">
                                                            <td>{{i + 1}}</td>
                                                            <td>{{grAverageTMP.TWD_Average | floatValuePipe: 4}}</td>
                                                            <td>{{grAverageTMP.PF_Average | floatValuePipe: 4}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </ng-container>
                                            <!--/Linear regression results-->
                                        </td>
                                        <td>
                                            <!--Linear regression results-->
                                            <ng-container *ngIf="grAverage.LR_Result">
                                                <table class="table table-hover table-striped no_v_padding">
                                                    <thead>
                                                        <tr>
                                                            <th>m</th>
                                                            <th>b</th>
                                                            <th>r</th>
                                                            <th>x_intersect</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>{{grAverage.LR_Result.m | floatValuePipe: 4}}</td>
                                                            <td>{{grAverage.LR_Result.b | floatValuePipe: 4}}</td>
                                                            <td>{{grAverage.LR_Result.r | floatValuePipe: 4}}</td>
                                                            <td>{{grAverage.LR_Result.x_intercept | floatValuePipe: 4}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </ng-container>
                                            <!--/Linear regression results-->
                                            <!--Average results-->
                                            <ng-container *ngIf="grAverage.AverageResults">
                                                <table class="table table-hover table-striped no_v_padding">
                                                    <thead>
                                                        <tr>
                                                            <th>TWD_Average</th>
                                                            <th>PF_Average</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>{{grAverage.AverageResults.TWD_Average | floatValuePipe: 4}}</td>
                                                            <td>{{grAverage.AverageResults.PF_Average | floatValuePipe: 4}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </ng-container>
                                            <!--/Average regression results-->
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--/TEMP Groupes-->
            <!--Average Results for LR-->
            <div class="row">
                <div class="col-md-12">
                    <legend>Average results:</legend>
                    <div class="table-responsive">
                        <!--Average Results-->
                        <table class="table table-hover table-striped no_v_padding">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>TWD_Average</th>
                                    <th>PF_Average</th>
                                    <th>m</th>
                                    <th>b</th>
                                    <th>r</th>
                                    <th>x_intersect</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngIf="main_Buffers[monitorTabIndex] && main_Buffers[monitorTabIndex].tmp_buffer && main_Buffers[monitorTabIndex].tmp_buffer.GroupTMP">
                                    <ng-container *ngFor="let grAverage of main_Buffers[monitorTabIndex].tmp_buffer.GroupTMP; let i = index">
                                        <tr>
                                            <td>{{i + 1}}</td>
                                            <td>{{grAverage.AverageResults.TWD_Average | floatValuePipe: 4}}</td>
                                            <td>{{grAverage.AverageResults.PF_Average | floatValuePipe: 4}}</td>
                                            <td>{{grAverage.LR_Result.m | floatValuePipe: 4}}</td>
                                            <td>{{grAverage.LR_Result.b | floatValuePipe: 4}}</td>
                                            <td>{{grAverage.LR_Result.r | floatValuePipe: 4}}</td>
                                            <td>{{grAverage.LR_Result.x_intercept | floatValuePipe: 4}}</td>

                                        </tr>
                                    </ng-container>
                                    <tr class="success" *ngIf="main_Buffers[monitorTabIndex].tmp_buffer.LR_Result.m">
                                        <td colspan="3" class="text-center"> Result linear regression: </td>
                                        <td>{{main_Buffers[monitorTabIndex].tmp_buffer.LR_Result.m | floatValuePipe: 4}}</td>
                                        <td>{{main_Buffers[monitorTabIndex].tmp_buffer.LR_Result.b | floatValuePipe: 4}}</td>
                                        <td>{{main_Buffers[monitorTabIndex].tmp_buffer.LR_Result.r | floatValuePipe: 4}}</td>
                                        <td>{{main_Buffers[monitorTabIndex].tmp_buffer.LR_Result.x_intercept | floatValuePipe: 4}}</td>
                                    </tr>
                                </ng-container>

                            </tbody>
                        </table>
                        <!--/Average Results-->

                    </div>
                </div>
            </div>
            <!--Average Results for LR-->
            <!--Test Results for Polyfit and FminSearch-->
            <div class="row">
                <div class="col-md-12">
                    <legend>Test fminsearch and polyfit:</legend>
                    <div class="table-responsive">
                        <!--Smoothed and Average Results-->
                        <table class="table table-hover table-striped no_v_padding">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>End date</th>
                                    <th>Fminsearch (Smoothed)</th>
                                    <th>a</th>
                                    <th>sigma</th>
                                    <th>mu</th>
                                    <th>Polyfit (Smoothed)</th>
                                    <th>a</th>
                                    <th>sigma</th>
                                    <th>mu</th>
                                    <th>A</th>
                                    <th>B</th>
                                    <th>C</th>
                                    <th></th>
                                    <th>Fminsearch (Average)</th>
                                    <th>a</th>
                                    <th>sigma</th>
                                    <th>mu</th>
                                    <th>Polyfit (Average)</th>
                                    <th>a</th>
                                    <th>sigma</th>
                                    <th>mu</th>
                                    <th>A</th>
                                    <th>B</th>
                                    <th>C</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngIf="main_Buffers[monitorTabIndex] && main_Buffers[monitorTabIndex].testResults[0]">
                                    <tr *ngFor="let res of main_Buffers[monitorTabIndex].testResults; let i = index">
                                        <td>{{res.step}}</td>
                                        <td>{{res.endDate}}</td>
                                        <td></td>
                                        <td>{{res.smoothed.fminsearch.a}}</td>
                                        <td>{{res.smoothed.fminsearch.sigma}}</td>
                                        <td>{{res.smoothed.fminsearch.mu}}</td>
                                        <td></td>
                                        <td>{{res.smoothed.polyfit.a}}</td>
                                        <td>{{res.smoothed.polyfit.sigma}}</td>
                                        <td>{{res.smoothed.polyfit.mu}}</td>
                                        <td>{{res.smoothed.polyfit.A}}</td>
                                        <td>{{res.smoothed.polyfit.B}}</td>
                                        <td>{{res.smoothed.polyfit.C}}</td>
                                        <td></td>
                                        <td></td>
                                        <td>{{res.average.fminsearch.a}}</td>
                                        <td>{{res.average.fminsearch.sigma}}</td>
                                        <td>{{res.average.fminsearch.mu}}</td>
                                        <td></td>
                                        <td>{{res.average.polyfit.a}}</td>
                                        <td>{{res.average.polyfit.sigma}}</td>
                                        <td>{{res.average.polyfit.mu}}</td>
                                        <td>{{res.average.polyfit.A}}</td>
                                        <td>{{res.average.polyfit.B}}</td>
                                        <td>{{res.average.polyfit.C}}</td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                        <!--/-Smoothed and Average Results-->
                    </div>
                </div>
            </div>
            <!---Test Results for Polyfit and FminSearch-->
            <br />
            <div class="row">
                <div class="col-md-12">
                    <legend class="clickable" style="cursor: pointer" data-toggle="collapse" [attr.data-target]="'#objView'" (click)="isToggled = !isToggled">
                        <span>
                            <i class="glyphicon glyphicon-chevron-right" [class.glyphicon-chevron-down]="!isToggled"></i>
                        </span>
                        View Main Buffer Object
                    </legend>
                    <div id="objView" class="row accordion-body collapse">
                        <pre>{{main_Buffers | json}}</pre>
                    </div>
                </div>
            </div>

        </div>
        <div class="tab-pane" id="2">
            <legend>Moving average method (WD)</legend>
            <div class="row">
                <div class="col-md-12">
                    <p>
                        Not implemented
                    </p>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="3">
            <br />
            <!--test for linear regression-->
            <div class="row">
                <div class="col-md-12">
                    <p>
                        <a href="https://en.wikipedia.org/wiki/Simple_linear_regression" target="_blank">https://en.wikipedia.org/wiki/Simple_linear_regression</a>
                    </p>
                    <legend>Calibration for Linear regression:</legend>
                    <div class="table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>x</th>
                                    <th>y</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let lr_param of lr_params">
                                    <tr>
                                        <td>{{lr_param.X_TWD}}</td>
                                        <td>{{lr_param.Y_PF}}</td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <legend>Results of the Linear regression:</legend>
                    <div class="table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>b</th>
                                    <th>m</th>
                                    <th>r</th>
                                    <th>x_intercept</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngIf="lr_results">
                                    <tr>
                                        <td>expected: -39.062</td>
                                        <td>expected: 61.272</td>
                                        <td>expected: 0.9945</td>
                                        <td>expected: 0.6375 </td>
                                    </tr>
                                    <tr>
                                        <td>{{lr_results.b}}</td>
                                        <td>{{lr_results.m}}</td>
                                        <td>{{lr_results.r}}</td>
                                        <td>{{lr_results.x_intercept}}</td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--/test for linear regression-->
        </div>
        <div class="tab-pane" id="4">
            <Legend>Monitor ellipse</Legend>
            <div class="test-container">
                <agm-map [mapTypeControl]="true"
                         [mapTypeId]="mapType"
                         [latitude]="latitude"
                         [longitude]="longitude"
                         [zoom]="mapZoom"
                         [minZoom]="minZoom"
                         [maxZoom]="maxZoom"
                         [disableDefaultUI]="false"
                         [scrollwheel]="true"
                         [zoomControl]="true"
                         [scaleControl]="true"
                         [fullscreenControl]="true"
                         [gestureHandling]="'cooperative'" id="map2" #map>

                    <agm-circle *ngFor="let data of circle"
                                [latitude]="data.lat"
                                [longitude]="data.lng"
                                [circleDraggable]="false"
                                [editable]="false"
                                [fillColor]="data.color"
                                [strokeOpacity]="1"
                                [radius]="data.radius">
                    </agm-circle>

                    <agm-marker [latitude]="center.latitude"
                                [longitude]="center.longitude"
                                [iconUrl]="center.iconUrl"
                                [label]="center.labelOptions"
                                [markerDraggable]="true"
                                (dragEnd)="drawCircle($event)">
                    </agm-marker>

                    <!--<agm-polyline [editable]="true"
                                  [clickable]="true"
                                  [strokeWeight]="2"
                                  [strokeColor]="'Red'"
                                  [strokeOpacity]="1">
                        <agm-polyline-point [latitude]="center.latitude" [longitude]="center.longitude">
                        </agm-polyline-point>
                        <agm-polyline-point [latitude]="30" [longitude]="-25">
                        </agm-polyline-point>

                        <agm-polyline-point [latitude]="-25" [longitude]="-55">
                        </agm-polyline-point>
                    </agm-polyline>-->

                        <agm-polygon [editable]="false" [paths]="points" [fillColor]="'Green'" [strokeColor]="'Red'"></agm-polygon>
                </agm-map>
            </div>
        </div>

        <!--Lines intersections-->
        <div class="tab-pane" id="5">
            <br />
            <Legend>Lines intersections</Legend>
            <div class="test-container">
                <div class="row">
                    <div class="col-md-12">
                        <p>Initial parameters:</p>
                        <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>x</th>
                                        <th>y</th>
                                        <th>alfa 1</th>
                                        <th>alfa 2</th>
                                        <th>average alfa</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngIf="sensors && sensors[0] && sensors.length > 0">
                                        <tr>
                                            <td>Monitor 1001</td>
                                            <td><input type="number" [(ngModel)]="sensors[0].x" (change)="calculateIntersections()" /></td>
                                            <td><input type="number" [(ngModel)]="sensors[0].y" (change)="calculateIntersections()" /></td>
                                            <td><input type="number" [(ngModel)]="sensors[0].a1" (change)="calculateIntersections()" /></td>
                                            <td><input type="number" [(ngModel)]="sensors[0].a2" (change)="calculateIntersections()" /></td>
                                            <td><input type="number" [(ngModel)]="sensors[0].a_average" (change)="calculateIntersections()" /></td>
                                        </tr>
                                        <tr>
                                            <td>Monitor 1002</td>
                                            <td><input type="number" [(ngModel)]="sensors[1].x" (change)="calculateIntersections()" /></td>
                                            <td><input type="number" [(ngModel)]="sensors[1].y" (change)="calculateIntersections()" /></td>
                                            <td><input type="number" [(ngModel)]="sensors[1].a1" (change)="calculateIntersections()" /></td>
                                            <td><input type="number" [(ngModel)]="sensors[1].a2" (change)="calculateIntersections()" /></td>
                                            <td><input type="number" [(ngModel)]="sensors[1].a_average" (change)="calculateIntersections()" /></td>
                                        </tr>
                                        <tr>
                                            <td colspan="4">rayY: <input type="number" [(ngModel)]="rayY" (change)="calculateIntersections()" /></td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                            <button class="btn" (click)="loadInitialCenterOfMass()"><i class="glyphicon glyphicon-refresh"></i> Refresh</button>
                        </div>
                        <hr />

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="chartdivLines"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <ng-container *ngIf="centerObject">
                            <p>Calculated parameters:</p>
                            <div class="table-responsive">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>m1</th>
                                            <th>m2</th>
                                            <th>m3</th>
                                            <th>a (New C - M2)</th>
                                            <th>b (M1-M3)</th>
                                            <th>New C</th>
                                            <th>Angle(M1-New C-Avg1002)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><span>x:{{centerObject.m1.x}}</span><br /><span>y:{{centerObject.m1.y}}</span></td>
                                            <td><span>x:{{centerObject.m2.x}}</span><br /><span>y:{{centerObject.m2.y}}</span></td>
                                            <td><span>x:{{centerObject.m3.x}}</span><br /><span>y:{{centerObject.m3.y}}</span></td>
                                            <td>{{centerObject.a}}</td>
                                            <td>{{centerObject.b}}</td>
                                            <td>
                                                x:<span>{{centerObject.averageRaysCenter_x}}</span><br />
                                                <span>y:{{centerObject.averageRaysCenter_y}}</span>
                                            </td>
                                            <td>{{centerObject.m1newCavg2}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
        <!--/Lines intersections-->
    </div>
    <div id="down-point"></div>
</div>
